[2015-08-11 14:37] kbknapp opened #2 "Remove unwraps"
There's a lot of unwraps...now that it works most of them should be removed.

[2015-08-31 18:01] Vinatorul commented on #2
I think all dangerous `unwrap`s are gone

[2015-08-31 21:40] kbknapp commented on #2
Then we'll call this closed as of #5 :)

[2015-08-31 21:40] #2 closed

[2015-09-06 02:42] daboross opened #6 "Outputs "up to date" when dependency has new version available"
`cargo outdated` shows that all dependencies are up to date when they are clearly not.

Here's an example:

[code]

As you can see, a new version of `pistoncore-window` (0.9.1) is clearly available, but `cargo outdated` doesn't show this.

[2015-09-06 03:33] kbknapp commented on #6
Yep I noticed this today too, I'll start investigating :) thanks for taking the time to file this!

[2015-09-17 21:57] blaenk commented on #6
Ah, was excited to use this but yeah I noticed this too. Subscribing to this issue.

[2015-09-17 22:20] kbknapp commented on #6
Yeah, unfortunately I've had a ton less time to work on this issue than I thought I would. I'm hoping to take a deep look this weekend as I'm assuming it's actually an easy fix and only due to some updates in `cargo update` which this subcommand uses on the backend.

I'll update here as I find things.

[2015-10-21 20:33] Esption commented on #6
With https://github.com/rust-lang/rfcs/pull/1241 we'll no longer be able to have wildcards on crates.io, so it'll be nice to have this working.

The best I can work out in like 20 minutes of figuring out the codebase is that the Root Deps / All Deps stuff with `debug` on is getting the latest version rather than the one that Cargo.lock says.  Even in this, `clap` should be out-of-date (Cargo.lock

[2015-10-29 22:44] AerialX commented on #6
This was fixed by #7

[2015-11-03 22:52] erickt opened #10 "Please publish a crate"
This project is cool! Now that `cargo install` works, if this was published as a crate, we could use `cargo install cargo-outdated` to install the project.

[2015-11-04 08:03] kbknapp commented on #10
This needs some updates first to get it working correctly again, see #6

Once I get some additional time to work on this issue, I'll publish a crate for `cargo install` :smile:

[2015-11-04 08:03] #6 closed

[2015-11-04 08:04] kbknapp commented on #10
Ah, and I actually didn't see the latest comment....publishing a crate now :+1:

[2015-11-04 08:48] #10 closed

[2016-01-24 18:42] TimNN opened #17 "Inconsistent output"
Running `cargo outdated` multiple times can produce a different **number** of outdated dependencies:

[code]

The `Cargo.*` files which produce this output can be found in [this gist](https://gist.github.com/TimNN/3064d6a5c780870f965d).

[2016-01-24 18:46] TimNN commented on #17
I've been looking at this again and the second line of the first output doesn't even make sense since `0.1.4` is older than `0.2.2` so why is it reported as `SemVer Comppat`?

Could it be possible that whether this issue manifests itself or not depends on whether `quick-error` or `handlebars->quick_error` is processed first?

[2016-01-27 08:27] TimNN commented on #17
I've reduced the size of the `Cargo.*` files a little and collected the output of running with the `debug` feature and verbose for both cases, the data is again in [a gist](https://gist.github.com/TimNN/f63110a74a83d4540443).

[2016-03-04 07:49] daboross commented on #6
I know it's a ton later, but I was just checking back on this and thank you for fixing this! Excellent command now, I'll be using it frequently!

[2016-03-30 20:55] LukasKalbertodt opened #19 "Check for wildcard dependencies recursively"
Hi there!

I initially asked [this question on SO](http://stackoverflow.com/questions/36132016/check-for-unwanted-wildcard-dependencies-recursively/36318945). The user "Pyfish" wrote a script to do some rudimentary checking (see the his/her answer). I thought it would be awesome to have something like that integrated in a tool and I think your tool comes closest to what I want.

So my feature requ

[2016-04-08 02:14] euclio opened #20 "Provide option to check build dependencies as well"
Or perhaps make it the default?

[2016-04-12 18:24] trolleyman opened #21 "error: permission denied"
Cargo outdated errors on Windows with this output:

[code]

[2016-04-12 18:30] trolleyman commented on #21
Actually only errors on the crates.io version.

[2016-04-12 18:30] #21 closed

[2016-04-12 18:31] trolleyman commented on #21
Probably fixed by https://github.com/kbknapp/cargo-outdated/commit/0530969dfda70eda01dbb9a0e6d0085f6966216c

[2016-05-06 15:42] hoodie opened #23 "Exit Codes"
Hey there,
I was thinking about using this in CI. Would it be possible to add an argument so that `cargo outdated` exits with `1`?

Thank you so much

[2016-05-06 15:56] kbknapp commented on #23
@hoodie do you mean exits with a `1` always, only if new versions exist, or just on error?

[2016-05-06 16:54] hoodie commented on #23
Perhaps have a test mode, that exits with 1 if there is a newer version.

[2016-05-06 19:01] kbknapp commented on #19
The issue for `cargo-outdated` is only direct wild cards can be determined, because it uses the `Cargo.lock` to find versions, not the original crates `Cargo.toml`.

I'm not against adding this, as I think it'd a really cool feature, but it's a bit beyond what I have time to work on right now. I'll leave this open so that I can start working on it with time. Thanks! :+1:

[2016-05-06 19:02] kbknapp commented on #20
I think making it the default is fine, and adding an option to ignore dev dependencies would be good. Thanks :+1:

[2016-05-06 19:27] kbknapp commented on #23
#24 provides a `--exit-code <num>` which allows specifying an exit code upon new versions detected.

[2016-05-06 19:33] #23 closed

[2016-06-11 07:28] Yamakaky opened #25 "Add a switch to ignore compatible updates."
It would show only deps with a Latest version which is not compatible with SemVer compat. It could be a good thing for libraries, to improve compatibility with other crates.

[2016-11-02 18:44] euclio opened #28 "Support cargo workspaces"
It would be nice to provide a flag to view outdated dependencies for the entire workspace.

[2016-11-30 19:16] matthiasbeyer opened #29 "Provide --manifest-path"
Please provide `--manifest-path`, so I can automate checking with my `Makefile` in [imag](https://github.com/matthiasbeyer/imag).

:smile:

[2016-12-03 22:28] kbknapp commented on #29
`cargo-graph` has this, I think I can just port the code over.

[2016-12-03 22:42] kbknapp commented on #25
Ah cool idea! It may be little bit of time before I can work on this, but I like the idea and will see how it looks as I dig back into this code 😉

[2016-12-03 22:43] kbknapp commented on #28
Hmm I'm not super familar with cargo workspaces yet. Let me look into this once I've knocked out a few bugs and updated the code.

[2016-12-04 00:56] kbknapp commented on #29
Alright, I've got this mostly implemented in a local branch, but I need to test it. I should be able to test and release it within the next few days.

[2016-12-06 01:46] #29 closed

[2016-12-06 01:48] kbknapp commented on #29
0.3.0 is up on crates.io. I tested this and it works, ensure the paths provided are absolute, and you'll have to provide botht he `--manifest-path <path>` and `--lockfile-path <path>`.

[2017-01-27 17:34] chris-morgan opened #31 "1.(Y+1).Z is misreported as incompatible"
I haven’t actually tested it myself, but from the README:

[code]

1.4.7 *is* compatible with 1.2.3 according to SemVer. Only before 1.0.0 are all bets off for minor version number increments.

[2017-01-28 08:00] sinkuu opened #32 ""Latest Ver" shows an older version"
`Cargo.toml`:

[code]

`cargo update; cargo outdated`:

[code]

[2017-01-28 08:54] sinkuu commented on #32
This is caused by `clap-2.20.0` downgrading `libc` (`~0.2.9` => `=0.2.18`) and unrelated to cargo-outdated (could there be a diagnostic?).

[2017-01-30 16:28] kbknapp commented on #31
It's been a while since I dug into this code, but I believe it uses whichever semver requirement is specified (`~` vs `^`), but this is also before I knew `cargo` treats the caret differently between 0.x and 1.x.

[2017-01-30 16:29] #31 closed

[2017-01-30 16:33] kbknapp commented on #32
The clap specific part should be fixed with clap 2.20.1 which I'm releasing tonight. As for cargo update picking the older crate, I'm sure how I'd like to handle that one. Perhaps asserting (or using) the Project ver if it is in fact newer than the latest. Interesting how this all played out!

[2017-02-15 18:15] mbrubeck commented on #28
rust-lang/cargo#3704 suggests that the best way to do this is by parsing the JSON output of `cargo metadata` rather than the Cargo.lock file.  The main difference in a workspace is that there may not be a "root" package.

[2017-03-23 13:05] dotdash commented on #32
Here's another case of `cargo outdated` getting the version ordering wrong. Most likely because `slog` uses an "interesting" version number (I have no idea how that works in SemVer tbh).

[code]

[2017-03-23 23:01] daboross commented on #32
@dotdash If 2.0.0-2.2 is meant as the latest version, I believe `cargo` and https://crates.io also need to be updated to account for this. https://crates.io/crates/slog shows the latest version as `slog = "1.5.2"`.

Perhaps this particular instance is better addressed as a bug in https://github.com/steveklabnik/semver?

[2017-03-30 09:07] SergioBenitez commented on #28
I just want to chime in and say that this would be incredibly useful! I use `cargo outdated` quite a bit. [Rocket](https://github.com/SergioBenitez/Rocket) has plenty of example crates (~30), and it would be nice to use `cargo outdated --all` (or something similar) to check whether all of their dependencies are up to date.

[2017-04-01 21:56] sebasmagri opened #38 "Support checking cargo binaries"
It would be nice to have `cargo outdated` work in the global environment and check for updates on the installed cargo binaries when not in a project directory.

[2017-04-04 23:05] kbknapp commented on #38
`cargo-update` already does this.

To install: `cargo install cargo-update`

To update all binaries: `cargo install-update --all`

[2017-04-04 23:15] #38 closed

[2017-06-20 20:02] euclio opened #40 "cargo-outdated reports no SemVer-compat version when there is one"
Running the command on my project that has `clap 2.24.2` in my `Cargo.lock`, I get the following output.

[code]

I would expect the SemVer Compat column to contain "2.25.0".

[2017-07-03 04:53] golddranks commented on #32
I'm getting this again, with clap:

[code]

`2.25.0` is shown as the latest version in `crates.io`, and it's also the version installed by `"*"`. It's also the lates version not only by the version number but also by date, so this seems like a clear bug.

[2017-07-17 15:56] kraai opened #41 "Fails to run 'cargo update'"
When I run `cargo outdated` in a project with at least one dependency, it fails with the following error:

[code]

When I run `cargo update`, `~/.cargo/bin/cargo update`, or `~/.rustup/toolchains/nightly-x86_64-pc-windows-msvc/bin/cargo update`, they're successful.

[2017-07-17 16:22] kraai commented on #41
If I modify cargo-outdated so that it displays the output of `cargo update`, here's what is displayed:

[code]

[2017-07-20 20:03] Dushistov commented on #41
I have the same issue

[2017-07-21 03:48] golddranks commented on #41
I have had the same issue for some days too.

[2017-07-22 03:55] brendanzab commented on #41
Same issue too! :(

[2017-08-03 15:50] #41 closed

[2017-08-04 14:10] Frederick888 commented on #17
I deem that this has been fixed in the new release, i.e. `0.4.0`. Could you please test it again?

[2017-08-04 14:16] Frederick888 commented on #32
@golddranks This should have been fixed in the new release. Could you please update to the latest `cargo-outdated` to see whether the issue persists?

[2017-08-04 14:18] Frederick888 commented on #40
@euclio A new release has just been pushed to crates.io. Could you please test it again to see whether it got fixed?

[2017-08-04 15:14] euclio commented on #40
@Frederick888 appears to be working!

[2017-08-04 15:14] #40 closed

[2017-08-04 17:17] steveklabnik opened #46 "What does "RM" mean in the output?"
[code]

Might be nice to have this explained somewhere.

[2017-08-04 18:00] TimNN commented on #17
I don't think I can easily test again, since the versions of the involved crates have changed a lot, however I have no problem with closing this issue for now.

[2017-08-04 18:00] #17 closed

[2017-08-05 05:52] Frederick888 opened #47 "Inconsistent output caused by `--root` parameter"
Say the following dependency tree is generated:

`hello_world -> hyper (0.10.0) -> [url, unicase, ...]`

...and `cargo outdated -r hyper -R` is executed against the package

Actual output:

`All dependencies are up to date, yay!`

Expected output:

[code]

[2017-08-05 06:13] #47 closed

[2017-08-05 06:56] Frederick888 commented on #46
Yeah, improving the documents would be a must. Some help messages are needed to be updated as well.

As far I could see, the new `0.4.0` release works slightly different in terms of:
1. Packages that are removed after an update are marked as `RM`
0. `--depth 0` literally means checking only the root now (note that there was a related issue just got fixed #47)

[2017-08-05 06:58] Frederick888 commented on #46
And by the way, is the provided example an actual output? Coz I just had a glance at `aho-corasick` and found that `memchr` was still in its dependency list.

[2017-08-05 09:05] dimbleby opened #49 "cargo outdated just says 'RM' for everything."
Here's output from one of my projects ([`c-ares-resolver`](https://github.com/dimbleby/c-ares-resolver)):

[code]

#46 already has me covered for "I've no idea what RM even means", this issue says "surely that's not right?"

[2017-08-05 09:09] dimbleby opened #50 "doesn't work when dependency is in path"
[code]

I saw this with [`c-ares`](https://github.com/dimbleby/rust-c-ares).

I believe the difficulty is dealing with [this](https://github.com/dimbleby/rust-c-ares/blob/664f295e5c8d73a04babf23003dc66bcbe9e517e/Cargo.toml#L17): `cargo outdated` copies my `Cargo.toml` into a temporary directory but does not copy `c-ares-sys/Cargo.toml`.  That's why `cargo update` fails.

[2017-08-05 09:34] Frederick888 commented on #49
Related to #20 #28

[2017-08-05 09:34] Frederick888 commented on #50
Related to #28 I think.

[2017-08-05 10:39] daboross commented on #49
This is happening to me for a non-workspace project, maybe it's related to optional dependencies?

[code]

Some of the things here are just regular dependencies though, which doesn't make much sense.

Here's the `Cargo.toml`: https://github.com/daboross/rust-screeps-api/blob/master/Cargo.toml

[2017-08-05 10:47] Frederick888 commented on #49
@daboross Yes. Currently `cargo-outdated` is not taking dev/build/target dependencies into count.

Since there is a ticket rust-lang/cargo#4309 talking about embedding `cargo-outdated` into `cargo`, I think I should introduce `cargo` as a dependency to this subcommand so that the issues about optional dependencies and workspace can be solved altogether. But this may not be a quick fix.

[2017-08-09 03:24] durka commented on #50
#51 fixes this for me.

[2017-08-12 16:43] shepmaster commented on #49
I'm seeing similar:

[code]

In my case, I don't have direct dependencies on most of those:

[code]

Perhaps something is "flattening" out the dependency tree and that's why it looks like pacakges are being removed?

[2017-08-18 07:23] Frederick888 commented on #49
@shepmaster If you could give #51 a try :)

[2017-08-18 17:36] shepmaster commented on #49
@Frederick888 that works, but has basically the same output. Upon further reflection, I think I have simply been confused by:

1. `RM` versus `removed`
1. The fact that non-direct dependencies (e.g. `idna`) are represented the same as direct dependencies (e.g. `hyper`). This is probably something I should file a separate issue for.

[2017-08-19 08:09] Frederick888 commented on #49
@shepmaster It would be appreciated if you could provide the related `Cargo.toml` and `Cargo.lock` :+1:

[2017-08-26 03:01] shepmaster opened #52 "Hard to distinguish direct dependencies from indirect dependencies"
**Cargo.toml**

[code]

[**Cargo.lock**](https://gist.github.com/shepmaster/19763600d503cff51646468579dcc994)

A snippet of the output looks like this:

[code]

As I read through this output, I'm surprised by the appearance of `chrono` and `cmake` on the left hand side — those aren't dependencies of mine. After thinking about it for a while, I realize that they are transitive dependencies.

Prepar

[2017-08-26 05:44] Frederick888 commented on #52
Printing out a tree like [`cargo-tree`](https://crates.io/crates/cargo-tree) has already been on the table but currently I am keener on eliminating other bugs rather than implementing new features.

On the other hand, in terms of improving the list format, perhaps using coloured output could be a quick win?

[2017-08-28 18:06] steveklabnik commented on #46
This is actual output, yeah. I forget what project I used it on.... gah!

[2017-08-30 09:19] Keats commented on #52
Can we just not print indirect dependencies at all? Looking at the `Cargo.toml`, I would only expect the first line of the output to be present since the other lines are not actionable. Right now, running `cargo outdated` on some of my projects prints dozens of line and sometimes not a single one that I care about.

[2017-08-30 09:42] Frederick888 commented on #52
@Keats You can, with `cargo outdated -R` (or `cargo outdated -d 1`)

[2017-08-30 09:43] Frederick888 commented on #52
@shepmaster For instance, highlight direct dependencies in green?
![image](https://user-images.githubusercontent.com/4507647/29866283-51ef10f4-8dbb-11e7-85e4-ece246d6b771.png)

[2017-08-30 10:05] Keats commented on #52
Ah this should be the default then I think (at least that was the general consensus on the cargo issue). If you have a depth other than `1` enabled, I think grouping the direct dependencies at the top and separating the transitive one would be clearer than using colours with a a-z ordering

[2017-08-30 10:11] Frederick888 commented on #52
@Keats

Sounds terrific. I'd make some time to implement one and see how it actually works in different scenarios. Perhaps a PR then.

This is not really related to this issue. Could you please file another one?

[2017-08-30 10:18] Frederick888 commented on #46
@steveklabnik I'm working on #51 and `RM` has been replaced by `Removed`. Apparently it turned out that saving several characters was completely unnecessary and even confusing. :sweat_smile:

This label is what you get when a dependency is removed from the dependency tree after an update.

[2017-08-30 10:26] Keats opened #53 "Default to only showing direct dependencies"
It's been mentioned in #51 and in https://github.com/rust-lang/cargo/issues/4309 that the default behaviour should be to limit the output the direct dependencies. Since `cargo-outdated` has already a `-d` flag, it should be as simple as defaulting it to `1`

[2017-08-30 11:17] Frederick888 commented on #53
I think one of the reason why such a behaviour is desirable, as mentioned [here](https://github.com/kbknapp/cargo-outdated/pull/51#issuecomment-323970701) by @SergioBenitez, is that we would like hide those dependencies which we are not really able to update.

Because `cargo-outdated` currently cannot really check the latest versions of transitive dependencies (the "Latest" column is generated by

[2017-08-30 12:49] shepmaster commented on #52
Perhaps a sort by depth *then* by a-z would be useful. I even think that the colors could be used in conjunction if it was still needed.

[2017-08-30 13:00] Frederick888 opened #54 "Support tree-like output format"
Print out a tree, like [`cargo-tree`](https://crates.io/crates/cargo-tree)

[2017-08-30 13:01] Frederick888 opened #55 "Support JSON output format"
Print out the dependency tree to a JSON

[2017-08-30 13:15] Frederick888 commented on #52
@shepmaster Well, later I reconsidered the function of grouping lines by ancestors (direct dependencies). A problem with it is that currently the list is sorted and deduplidated so grouping means to remove the deduplication, which would give a lot more lines. So is sorting by depth, although we could use the highest/lowest level in the tree for a line.

On the other hand, if we keep adding more an

[2017-08-31 02:34] WiSaGaN commented on #50
This seems to be a regression from 0.3.0 for me.

[2017-08-31 06:32] Frederick888 commented on #50
@WiSaGaN Could you please try #51 ?

[2017-09-01 10:04] flosse opened #56 "Colorize output"
It would be cool if the output is colorized :)
Here is an idea:
- mark yanked versions with red
- outdated parts with orange (e.g. in `1.2.4 -> 1.3.7` the `3.7` would be orange)
- and up to date parts with green (e.g. in `1.2.4 -> 1.3.7` the `1` would be green)

[2017-09-01 11:30] Frederick888 commented on #56
Kinda related to #52 , but with different requirements. And I need to test whether the yanked ones could actually be captured by `cargo update` or not...

[2017-09-10 22:17] casey commented on #46
I was a little confused by `Removed`. I think `Superfluous` or `Unnecessary` might be more precise.

[2017-09-15 22:59] stusmall commented on #50
Not OP but facing the same issue.  #51 fixed it for me.

[2017-09-18 09:20] Frederick888 opened #57 "Enable `--all-features` by default"
Mentioned [here](https://github.com/kbknapp/cargo-outdated/pull/51#issuecomment-326447855) by @SergioBenitez

[2017-09-18 09:24] Frederick888 opened #58 "Loop through all workspace members if executed against a virtual manifest"
Mentioned [here](https://github.com/kbknapp/cargo-outdated/pull/51#issuecomment-326521356) by @Keats.

And the suggested format is:

[code]

[2017-09-18 09:25] #20 closed

[2017-09-18 09:25] #28 closed

[2017-09-18 09:25] #46 closed

[2017-09-18 09:25] #49 closed

[2017-09-18 09:25] #50 closed

[2017-09-18 10:12] #32 closed

[2017-09-18 23:33] Frederick888 opened #60 "Error messages are not shown without `-v`"

[2017-09-19 02:38] #60 closed

[2017-09-19 09:17] Frederick888 opened #63 "`--exit-code` and `--color` do not work"

[2017-09-19 09:32] Frederick888 commented on #63
Related to kbknapp/clap-rs#1050

[2017-09-20 14:35] #57 closed

[2017-09-21 14:24] steveklabnik opened #68 "thread 'main' has overflowed its stack"
This happens whenever I run `cargo-outdated` in the Rust repository's src directory.

Rust 1.20.

[2017-09-21 14:42] Frederick888 opened #69 "Default features are not excluded even if `--features ''` is set"

[2017-09-22 02:13] #69 closed

[2017-09-22 04:59] Frederick888 commented on #68
@steveklabnik I tested it myself and got

[code]

...since #58 looping through workspace members is not supported yet. Which version of `cargo-outdated` were you using?

[2017-09-22 14:54] steveklabnik commented on #68
[code]

I had just run 'cargo-install'.

[2017-09-22 16:49] Frederick888 commented on #68
@steveklabnik Well, I don't have the permission to publish the new `0.5.0` to crates.io, so you could only manually clone this repo and run `cargo install --path . -f`.

But even though since I haven't got time to do #58 , it cannot be used on a virtual manifest out of the box. Maybe a simple Bash script could do the job for now.

[2017-09-22 17:11] steveklabnik commented on #68
Ah interesting, thanks! (Also, `cargo install` supports a `--git` flag, so that'd be even easier to install).

This seems bad though; what happened? I really love cargo-outdated.

How hard do you think #58 is?

[2017-09-22 17:30] Frederick888 commented on #68
@steveklabnik @kbknapp has been a bit busy recently, let's just wait him to be back patiently :)

I don't think #58 would be too hard. Basically it would be a matter of replacing `workspace.current()` calls with some workspace-member-aware logics and finally looping through all the members to compare dependency trees and print the results out... some extra work will be needed to reused the tempora

[2017-09-22 18:43] kbknapp commented on #68
My apologies! Yeah my time has been monopolized lately, @Frederick888 I'll add you so you can publish new version as well.

[2017-09-22 19:09] kbknapp commented on #68
@Frederick888 you should be able to publish new versions to crates.io now as well. Aside, feel free to add yourself to the authors array as well, I think you've earned it :wink:

[2017-09-22 23:58] steveklabnik commented on #68
Ah, it's all good! Everyone needs some time off. Looks like @kbknapp came back briefly between now and then; thank you for one of the most useful cargo commands!

[2017-09-23 06:48] Frederick888 opened #72 "Write test cases"
Maybe we could publish some dummy crates so that some proper test cases can be written.

And actually I am still a bit unsure about the behaviour of `cargo update` in some scenarios, e.g. how it deals with yanked dependencies.

[2017-09-23 07:06] Frederick888 commented on #68
@kbknapp Many thanks! I have just published `v0.5.1` with some minor changes since the last release.

I think I'm going to close this issue in support of #58. And by the way, I have assigned #58 a P1 label and I'd work on it first if I can make some time. My uni assessments are killing me right now lol...

[2017-09-23 07:06] #68 closed

[2017-09-23 08:34] Frederick888 opened #73 "Replace `format!()` calls with `Path.join()` to construct PathBuf"
`Path.join()` is slightly faster and more idiomatic. Low priority tho.

[code]
[code]

[2017-09-27 02:40] Keats opened #75 "Consistent failure with the same package"
Version: 0.5.1

This [Cargo.toml](https://github.com/Keats/tera/blob/v0.11/Cargo.toml) always fail with the following error:

[code]

[2017-09-27 12:17] malbarbo opened #76 "Consider using cargo_metadata instead of cargo crate"
It take too long to compile cargo. An alternative is to use [cargo_metadata](https://crates.io/crates/cargo_metadata), which offers an api over the `cargo metadata` command.

[2017-09-27 12:22] Frederick888 commented on #76
As `cargo-outdated` is supposed to be merged into `cargo` ultimately in the future, I don't think this would be an appropriate action to take.

[2017-10-04 15:35] kraai opened #77 "Fails to build with debug feature"
When I try to build with the debug feature, the build fails with the following errors:

[code]

[2017-10-05 10:15] pravic commented on #63
Is this the same?

error: The argument '--color <color>' requires 1 values, but 2 were provided
USAGE:
    cargo outdated --color <color> --exit-code <NUM>

[2017-10-06 06:12] Frederick888 commented on #63
@pravic Yes, I think so.

[2017-10-06 07:09] Frederick888 commented on #77
Thanks for reporting the bug! I have created the PR #78 to fix it and added debug build as part of CI.

[2017-10-06 07:15] #77 closed

[2017-10-06 08:36] #58 closed

[2017-10-06 14:29] euclio commented on #58
Is this exposed anywhere in case the workspace root is *not* a virtual manifest? I'd still like to loop over all members of the workspace.

[2017-10-06 14:52] Frederick888 commented on #58
@euclio Fair point... I was thinking that if it was not a virtual manifest, then other members should be the dependencies of the root package. But we indeed can have members that are not related to the root package, can't we?

Could you please file another issue for this?

[2017-10-06 14:59] Frederick888 commented on #75
I think this is related to rust-lang/cargo#2222. I still have no idea how to capture the latest pre-release without calling `crates.io` APIs. In your case specifically, because `pest_derive` has no stable release yet, `cargo` simply fails due to "no matching package" with the wildcard requirement.

[2017-10-06 17:36] euclio opened #81 "Provide an option to loop through all workspace members"
Thanks to #58, this is possible if the crate has a virtual manifest. However, it would be useful to trigger this behavior from crates without a virtual manifest as well.

[2017-10-10 07:12] #81 closed

[2017-10-12 16:33] euclio opened #84 "cargo outdated errors if a package removed a feature in a newer version"
To reproduce:

Cargo.toml:

[code]

[code]

[2017-10-17 05:49] Frederick888 commented on #84
Might finally go the route of querying crates.io APIs for the direct dependencies, so that issues like #75 can be gone as well.

[2017-10-20 06:44] tshepang opened #86 "readme: dependency tree out of date"
It says there is a dependency on rustc-serialize, which no longer is the case. Perhaps just remove it?

[2017-10-20 08:25] Frederick888 commented on #86
Thanks for reminding me :) I believe that graph is generated by [cargo-graph](https://crates.io/crates/cargo-graph) and I can update it before next release.

[2017-10-21 10:57] #75 closed

[2017-10-21 10:57] #84 closed

[2017-10-21 11:27] #86 closed

[2017-10-25 02:24] #63 closed

[2017-10-25 13:23] sdroege opened #91 "Panics on gstreamer-rs workspace "BUG: update() must be called before query()""
Clone the repository at https://github.com/sdroege/gstreamer-rs, run cargo update in the root and then run cargo outdated. It fails like below.

This is with cargo 0.22 and cargo outdated 0.6.0.

[code]

[2017-10-25 14:58] Frederick888 commented on #91
Should be fixed by #93

[2017-10-25 14:58] #91 closed

[2017-10-25 16:04] #73 closed

[2017-10-25 21:13] sdroege commented on #91
Thanks, works! 🎆

[2017-10-28 06:23] WiSaGaN commented on #50
It seems we still need to implement the support for relative path like
[code]

[2017-10-28 06:30] WiSaGaN opened #96 "Support relative path in dependency"
This is related to #50.
If we create two local cargo projects under the same working directory `foo` and `bar` by running `cargo new foo` and `cargo new bar`, and having `bar` depending on `foo` by including the following in the `Cargo.toml` of `bar`:
[code]
It will compile successfully using `cargo build`. `cargo outdated` will throw an error:
[code]
I am using `cargo-outdated 0.6.1`.

[2017-10-28 08:07] Frederick888 commented on #96
Should be fixed by #97.

The `replace_path_with_absolute()` should be applied to both compatible and latest manifest files. This was done by calling `write_manifest_semver_with_paths()` right after the files were copied to temporary workspaces but later `write_manifest_semver_with_paths()` was removed in [`v0.6.0`](https://github.com/kbknapp/cargo-outdated/pull/87/files#diff-eb3c13e0392e1efb496ff8

[2017-10-28 09:18] WiSaGaN commented on #96
Yes, the PR fixes the problem on my local machine.
[code]
Thanks!

[2017-10-28 09:18] #96 closed

[2017-10-28 09:37] Frederick888 commented on #96
Published as v0.6.2

[2017-10-30 10:54] klefevre opened #99 "Segmentation fault for project with private ssh dependencies"
Hi,
It seems that private dependencies with an ssh url cause a segmentation fault. I thought private dependencies wasn't supported but I checked with https urls and it works fine.

[code]

[2017-11-03 02:41] shssoichiro opened #100 "False warnings for obsolete features"
I have a crate that depends on chrono, diesel, uuid, and serde. These each need certain features enabled in order to work together, e.g. from `Crate.toml` (simplified):

[code]

With cargo-outdated 0.6.2, running `cargo outdated` on this crate produces the following warnings:

[code]

However, removing these features causes the crate to fail to compile. `cargo outdated` should not be producing the

[2017-11-03 10:34] oherrala commented on #100
I have probably the same issue in our multicrate project. Simplified example:

Root `Cargo.toml`:

[code]

`dummylib/Cargo.toml`:

[code]

`dummybin/Cargo.toml`:

[code]

[code]

Maybe the quickcheck version error is worth another issue?

[2017-11-04 08:25] Frederick888 commented on #100
@shssoichiro Haven't got time to actually look into it but it seems that [`Summary::features()`](https://docs.rs/cargo/0.22.0/cargo/core/summary/struct.Summary.html#method.features) does not include optional dependencies by default hence the false warnings.

---

@oherrala Due to the fact that [`quickcheck`](https://crates.io/crates/quickcheck) has been yanked. Could you please file another issue?

[2017-11-04 14:38] oherrala opened #101 "Yanked packages cause "no matching version" error"
The package [quickcheck](https://crates.io/crates/quickcheck) version 0.4.2 is yanked which causes error:

[code]

Example `Cargo.toml`:

[code]

[code]

The "feature has been obsolete" warning have their own issue: #100.

[2017-11-09 12:36] aleksander opened #103 "Unable to update registry behind proxy"
`cargo outdated` command failed in case of connection through proxy server:

[2017-11-12 11:45] dimbleby opened #105 "output varies from run to run, and also misses things"
I'm running `cargo outdated` against https://github.com/dimbleby/iron-hmac/tree/update-dependencies (at 3fea6b1e).  Here's an example in which an intermediate run of `cargo outdated -w` causes `cargo outdated` to change its mind:

[code]

All of the above miss various other things that are also outdated.  eg hyper was never mentioned, but there's definitely a dependency on an old version:

[code]

[2017-11-13 17:01] Frederick888 commented on #103
It looks like an error from `cargo` itself. So all other `cargo` functionalities are fine except `cargo outdated`? I don't even know that `cargo` can be configured with a proxy. Could you please give more details?

[2017-11-14 09:30] #100 closed

[2017-11-14 15:50] aleksander commented on #103
Strange, but I can't reproduce it. Sorry for the noise.

[2017-11-14 15:50] #103 closed

[2017-11-14 15:52] Frederick888 commented on #103
No worries :)

[2017-11-21 14:24] Frederick888 commented on #105
First of all `-w` forcibly makes `cargo-outdated` to run in workspace mode. I had a look at your repo and it doesn't contain a workspace hence `-w` is not needed. The only scenario that I have in mind to use `-w` is that the root `Cargo.toml` is not a virtual one but contains a workspace definition. Under workspace mode `cargo outdated` handles the naming and deduplication in a slightly different

[2017-11-21 14:57] dimbleby commented on #105
Thanks for your comments:

* I realise that `-w` is not appropriate in this particular case, I'm doing that only as a way to provoke the inconsistent output
* I also don't repro the original report any more; but that's OK - I have another example.  Try [racerd](https://github.com/jwilm/racerd) at 29cd4c6fd (this one includes a `Cargo.lock`, and doesn't even need the `-w` thing to confuse matters).

[2017-11-21 15:14] Frederick888 commented on #105
There were discussions about it. You can find the related stuff basically from [here](https://github.com/kbknapp/cargo-outdated/pull/51#issuecomment-323970701) and #52. Their original requests were a bit off IMO but the general idea is that if we do list all the "real" latest versions of transitional dependencies, it would be much too verbose and users can literally do nothing to get rid of them (

[2017-11-21 17:59] #101 closed

[2017-11-23 07:12] Frederick888 opened #110 "Use `docopt` instead of `clap`"
Since `cargo` is using `docopt`

[2017-11-23 07:30] #105 closed

[2017-11-23 10:11] #110 closed

[2017-11-23 10:35] Frederick888 commented on #99
Is it really a `cargo outdated`-specific issue? I deem if `cargo` runs normally then things won't go wrong with `cargo outdated`.

I tested a private repo on my own and it was all fine. The authentication was provided by `ssh-agent`.

Actually no matter what you use, as long as `git clone repo_uri` works without prompting you for credentials, it should be safe to put it in the manifest.

[2017-11-29 11:42] klefevre commented on #99
I have also `ssh-agent` activated and I can clone any ssh repository without any credentials request.

The only "strange" thing I could see is that i'm on macOS and my ssh key has a passphrase and is managed by the `keychain`. But even with this, which is a very common configuration, I can run cargo without troubles.

Here you could see a sample of my ssh config:
[code]

[2017-11-29 12:13] Frederick888 commented on #99
But, I mean... Does `cargo` builtins work normally? Is it `cargo-outdated`-specific? For instance, does `cargo update` work normally?

I have a Macbook but I never use KeyChain to manage these kind of stuff. If it is `cargo-outdated`-specific I can try to reproduce issue in macOS.

[2017-11-29 13:18] klefevre commented on #99
As I said I can run `cargo` without any troubles i.e. running `cargo update` works normally. So I guess it comes from `cargo-outdated`.

[2017-11-29 18:30] klefevre commented on #99
I digged a little bit and I found that the crash from the `cargo` crate.

[code]

I looked where exactly the crash happen in `cargo` and it appeared that it's a call on `git2-rs` that crash (precisely there https://github.com/alexcrichton/git2-rs/blob/master/src/remote.rs#L232 ) .

I don't know for you but I'm currently on High Sierra, and it might be related to this version of macOS only.

All th

[2017-12-02 14:32] letheed commented on #53
Came here to post the very same issue. It didn't make sense to me to see by default dependencies on which I have no direct influence. Also `-R` often means `recursive`, it's a bit unsettling that it's used for the very opposite meaning here.

[2017-12-02 15:28] Frederick888 commented on #53
@letheed
1. But if there are dependencies which you can upgrade, even if you have no ***direct*** influence, wouldn't you still like to run `cargo update`?
2. `-R` has been there for quite long even before I joined the project. At least currently there's no enough motivation for me to change it now.

[2017-12-02 16:24] letheed commented on #53
I guess it depends if one's looking to update the lock file or the manifest.

Yeah, I understand there's no incentive to break interface right now. Just putting it out there for the future.

[2017-12-03 01:38] Frederick888 commented on #53
@letheed I guess for library developers, they could be more interested in the manifest file, as the lock file is usually excluded from the repository; but others could be interested in both of them, as dependencies are often updated before a new release is published, e.g. `cargo-outdated` itself.

So I personally don't think it would be a really nice choice to make "checking direct dependencies on

[2017-12-03 04:13] letheed commented on #53
@Frederick888 that's all right, I was indeed thinking about it more from a library perspective, but I can see how that would not fit everyone. Fish autocompletes it for me all the same...

If people feel the same they can post it here. Thank you for your work and your time anyway!

[2017-12-08 05:57] mehcode opened #118 "Errors when using patch section of Cargo.toml"
Here is an example repository: https://github.com/mehcode/cargo-outdated-bug-patch

---

[code]

----

This is using the most recent `cargo-outdated` installed via `cargo install cargo-outdated`.

[code]

[2017-12-08 06:32] Frederick888 commented on #118
Thanks for reporting the issue! It seems to be a new feature of `cargo`? Hmm... Hope it could be gone by adding `patch` (and `replace`) to struct [`Manifest`](https://github.com/kbknapp/cargo-outdated/blob/4adda8a1804497764ec67128662b9190e934a352/src/cargo_ops/mod.rs#L13) :laughing:

[2017-12-08 08:35] WiSaGaN commented on #76
@Frederick888 any tracking issue for this incorporation?

[2017-12-08 08:48] Frederick888 commented on #76
@WiSaGaN rust-lang/cargo#4309

But even if we put this issue aside, since `cargo-outdated` has used too many `cargo` functions, e.g. resolving dependencies, updating various sources, querying crates.io registry, etc, etc, it's just too expensive to duplicate all of these.

[2017-12-10 05:57] Frederick888 opened #120 "Error when a package has multiple occurrences with different specified features"
The logic in [`elaborate_workspace.rs`](https://github.com/kbknapp/cargo-outdated/blob/8daf1d8838a0409fe84d22c65c1772c5bc1d509d/src/cargo_ops/elaborate_workspace.rs#L47) is not feature-aware.

[2017-12-29 19:42] pravic opened #121 "Error when the package.name is different from the lib.name"
As I see, this error is coming from [cargo/targets.rs](https://github.com/rust-lang/cargo/blob/master/src/cargo/util/toml/targets.rs#L116). So I am not sure whether this error in cargo-outdated or in cargo itself.

And yes, `path = "src/lib.rs"` resolves it.

Project: https://github.com/sciter-sdk/rust-sciter.

env:

[2018-01-02 00:35] daboross commented on #118
`patch` was stabilized in October with 1.21.0. `replace` has been here much longer, at least since June 2016. I don't know which version it was stabilized in since it isn't mentioned in changelogs, but it was committed into the repository with https://github.com/alexcrichton/cargo/commit/54d738b00affacce24375656c966ca3e1efcdc6b (over a year ago?).

[2018-01-12 14:57] sanmai-NL opened #122 "Failure depending on format of relative `path` value"
[code]

Workspace virtual manifest `Cargo.toml`:
[code]

[code]

Workspace virtual manifest `Cargo.toml`:
[code]

Does work, but the first form already works with Cargo.

[2018-01-12 15:01] sanmai-NL commented on #122
An additional or alternative failure is that virtual manifest `patch` tables aren’t honored at all in the first place. After rewriting all paths to include the current directory prefix `./`, the issue persists when running `cargo outdated` on workspace members.

[2018-02-11 12:57] Michael-F-Bryan commented on #55
I was playing around with creating a bot to iterate over each crate in crates.io and run `cargo outdated` on them. The idea being we can then have a second bot which will create PRs to help other people keep their dependencies up to date.

I imagine either having an option for machine-readable or exposing `cargo-outdated`'s internals as a library would make this sort of use case a lot easier.

[2018-02-13 01:58] Frederick888 commented on #122
Related to #118 ?

[2018-03-03 22:00] vi opened #126 "Error when using [replace]"
[code]

When there is `[replace]` for it.

At least the error message should be more helpful.

[2018-03-14 17:26] cuviper opened #127 "Add an option for packages to exclude"
I have a workspace with many crates, and there's a particular dependency used by almost all of them which I know I do not want to update.  This makes it hard to scan through `cargo outdated -w` for updates that I would be interested in.  It would be nice if there were an option I could use to ignore that unwanted update.

[2018-03-20 09:40] niklasf opened #128 "Always fails with "Invalid arguments." on nightly 2018-03-19"
Regardless of actual arguments:

[code]

[2018-03-20 15:27] kjeremy commented on #128
I'm Seeing this on Ubuntu 16.04.

[2018-03-20 15:50] valff commented on #128
It isn't specific to `cargo-outdated`, all external subcommands affected. Looks like the issue is already fixed: rust-lang/cargo@deb1c1e15c972d713e723088516b02a23e9bac8e.

[2018-03-21 00:20] Frederick888 commented on #128
As mentioned by @valff, this issue comes upstream from `cargo`, and it's to be fixed by rust-lang/rust#49182.

But I'd like to keep this ticket open until the problem is gone so we could test it again.

[2018-03-23 01:58] mbilker commented on #128
Current workaround is to run `cargo outdated outdated`.

[2018-03-23 02:20] kbknapp commented on #128
Yeah either use `cargo outdated outdated` or use the stable channel. Since it's fixed upstream it should appear in one of the next nightlies

[2018-03-25 09:29] niklasf commented on #128
Thanks all. It has indeed been fixed.

[2018-03-25 09:29] #128 closed

[2018-03-25 19:18] kbknapp commented on #128
It's made it out into the latest nightly.

So others finding this issue, the fix is `rustup update nightly`

[2018-03-26 08:37] Jake-Shadle commented on #118
Note this also occurs for patch sections located in a workspace, but based on the dependency resolution code in cargo I think a fix would probably work for both workspace and local patches.

[2018-04-11 16:47] pickfire commented on #52
I think it's better to bold the direct dependency and leave color for other stuff. Maybe:

- use different colors for different update (red for major, yellow for minor, green for patch)
- use different color for yanked dependency (cyan)
- use default color for up-to-date dependencies

[2018-04-11 17:05] pickfire commented on #56
Can I do this with https://crates.io/crates/yansi?

[2018-04-11 17:14] pravic commented on #56
There are loads of color crates out there: https://crates.io/keywords/color

[2018-04-11 17:42] pickfire commented on #56
I did took a look at them, the other options that I prefer is https://crates.io/crates/colored.

[2018-04-24 19:26] sharksforarms opened #131 "Support alternate source"
In my workspace we have a clone of crates.io hosted internally on our network.

We're using the following to configure our local setup to point to the mirror:
https://doc.rust-lang.org/cargo/reference/source-replacement.html

[code]

When I run `cargo outdated` I get the following:

[code]

[2018-04-25 07:28] pravic opened #132 "Does not work with workspaces"
Project structure:
[code]

[code]

error: failed to read `%TEMP%\cargo-outdated.OEWVKGM26aU4\serde\Cargo.toml`
Caused by:
  The system can not find the path specified. (os error 3)

If I remove `workspace`, it works well. But it would be better to work.

[2018-05-16 21:21] jonhoo opened #133 "Use correct name when dependency has been renamed"
Cargo [recently](https://github.com/rust-lang/cargo/blob/0dd53841d30816ec0d79d879de71d7adc360bdc5/src/doc/src/reference/unstable.md#rename-dependency) got support for renaming dependencies. That is, you can do:
[code]
To import the crate `foo` under the name `bar`. However, this seems to confuse `cargo-outdated`. Specifically, it looks for `bar` instead of `foo` in the registry, which generally wo

[2018-05-28 20:13] sharksforarms commented on #131
Fixed by adding `registry`, this ensures that the `Cargo.lock` file `source=`'s have the right registry...

But with this I get a warning

`warning: custom registry support via the 'registry.index' configuration is being removed, this functionality will not work in the future`

[code]

Works for now.

[2018-06-02 06:57] RalfJung opened #134 "Not all outdated transitive dependencies are properly detected"
I have seen `cargo outdated` produce output like this
[code]
telling me that, while my reqwest is up-to-date, serde as used by reqwest is outdated.

However, this information is not reliable. For example, with the following `Cargo.toml`
[code]
`cargo outdated` claims that everything is up-to-date even though `failure` depends on an old version of `sym`: My `Cargo.lock` contains `syn 0.11.11` where

[2018-06-11 13:12] dimbleby commented on #134
This is likely to be the intended behaviour (though it surprised me too!)

The reasoning seems to be: if I can't do anything about an outdated dependency - either by running `cargo update` or by editing `Cargo.toml` - then there's no point in this tool telling me about it.

Previous discussion, with links to more previous discussions, [here](https://github.com/kbknapp/cargo-outdated/issues/105#iss

[2018-06-11 14:00] RalfJung commented on #134
But what can I do about the other outdated indirect dependencies? "You can't do anything about it" would be a good argument to make `-R` the default, but if I ask for more information I should not be getting wrong information.

Also, it'd be nice to *know* whether I use an outdated (possibly buggy, possibly security critical) version of a library even if I can't directly change it. I can still go

[2018-07-11 00:06] kpcyrd commented on #134
I'm also missing this feature, but as opt-in instead of the default. Usually I only want to know if my project has dependencies that can be updated, but sometimes I want an easy way to see which crates pull in old dependencies so I can check if there's a way to help them update (eg by sending a PR).

[2018-07-12 19:54] jonhoo commented on #134
Actually, is this a duplicate of #25?

[2018-07-12 19:59] RalfJung commented on #134
Doesn't look like it to me... this here is about having `cargo outdated` show *more* things, #25 is about showing *fewer* things.

[2018-07-12 20:07] jonhoo commented on #134
I read #25 as *ignoring* semver, and thus also showing incompatible updates. Unless I'm mistaken, that should lead to *all* updates being shown, including things that are held back because of `=` dependencies.

[2018-07-12 20:32] wfraser opened #136 "dev-dependencies of dependencies specified by path are not found"
Example

root/Cargo.toml:
[code]

root/path-dependency/Cargo.toml:
[code]

Running `cargo outdated -v` gives:
[code]

It only seems to do this if the dependency is specified by path; regular crates.io dependencies don't have this problem.

[2018-07-12 20:50] RalfJung commented on #134
It's not about `=` dependencies though. It's about crates that are outdated but wouldn't be updated (enough) even if we relaxed all dependencies to `*`.

[2018-07-12 20:53] jonhoo commented on #134
Ah, I guess #25 wouldn't make a difference to transitive dependencies, you're right.

[2018-09-03 05:38] dineshadepu opened #137 "Direct dependency quicli not found for package commit-msg-gen"
Hi,

I am checking the outdated packages in [quicli](https://github.com/killercup/quicli), but I get this error

[code]

[2018-09-23 09:21] jjpe opened #139 "[MacOS 10.13] cargo-outdated v0.7.0 fails to build"
When I try to install `cargo-outdated v0.7.0` with `cargo install --force cargo-outdated`, the build fails with the log below.  For the record, I do have openssl installed, executing `openssl version` returns `LibreSSL 2.2.7`.

I also tried to add export `PATH=/usr/local/opt/openssl/bin:$PATH` to my `~/.zshrc`, which causes executing `openssl version` to return `OpenSSL 1.0.2p 14 Aug 2018`.
Howeve

[2018-09-23 09:32] jjpe commented on #139
I also tried to add `export PATH=/usr/local/opt/openssl/bin:$PATH` to my `~/.zshrc`, which causes executing `openssl version` to return `OpenSSL 1.0.2p  14 Aug 2018`.
However, the build error remains.

[2018-09-23 10:52] Frederick888 commented on #139
I was able to build 0.7.0 on my mac which has the same OpenSSL as yours. But it may be caused by some other problems due to the outdated OpenSSL. Could you try installing 0.7.1 that I just published?

[2018-09-23 11:16] jjpe commented on #139
Version `0.7.1` builds as it should. Thanks for the quick response!

[2018-09-23 11:16] #139 closed

[2018-09-24 19:56] matthiaskrgr opened #141 "needs cargo updated to parse latest ed2018 crates"
The latest cargo shipped by rust nightly has the ````edition = "2018"```` feature stabilized but cargo outdated still relies on cargo `0.28` which does not have the feature stabilized.

Thus cargo outdated fails to parse `Cargo.toml`'s which use the ed2018 feature without the feature gate.
[code]

[2018-09-28 00:35] joelgallant commented on #141
This is due to the `Manifest` struct not holding on to `cargo-features`, so the TempProject does not write them to its `Cargo.toml` (causing the parsing of it later on to fail).

https://github.com/joelgallant/cargo-outdated/commit/6930e6a83039829cdacc5f4576426db71f3a5dc2

This patch gets some of the way there, but the TempProject thing requires more work. I might guess that the author will just w

[2018-09-28 00:37] joelgallant commented on #132
You can also, as a workaround, `cd serde` and run it from there. It would be great for this package to support `-p` to specify packages in a workspace.

[2018-09-28 08:43] pravic commented on #132
It does not work with the current (`"."`) project - that's the point.

[2018-09-28 14:37] joelgallant commented on #132
Right, makes sense (I didn't think about a workspace with `.` as a member like your example)

[2018-10-25 19:47] NickAtAccuPS commented on #136
Possibly the same problem with git patched dependencies via [patch.crates-io].

[2018-11-07 18:11] WyseNynja commented on #141
I just ran into this. Worked around it by commenting out `edition = "2018"` in my Cargo.toml when I need to run `cargo outdated`.

[2018-11-12 13:37] hcpl commented on #136
This error only appears when the inner crate is not a workspace member of the outer one, i.e. adding this to root/Cargo.toml:

[code]

makes the error go away.

[2018-11-13 12:47] eduardobraun opened #144 "Make it easier to integrate with CI"
It would be nice if when there are outdated crates the program would return an error.

This way one would be able to create a CI stage that verifies if all crates are up-to-date (without the need to parse the result). So projects would be able to enforce that every merge request updates the dependencies before being accepted or run the stage nightly, which would probably reduce the number of multi

[2018-11-15 21:46] sharksforarms commented on #131
Any plans on supporting alternate crate repos?

[2018-11-28 14:36] kjeremy opened #146 "cargo outdated does not work with dependency packages"
`cargo outdated` fails on
[code]

with

location searched: file:///C:/projects/test/rust-analyzer/crates/ra_hir
version required: *

See https://github.com/rust-analyzer/rust-analyzer/issues/249#issuecomment-442461852

[2018-11-29 07:14] drrlvn opened #147 "Failed to parse manifest error when using thin lto"
My `Cargo.toml` contains the following:

[code]

And when I run `cargo outdated` I get the following error:

[code]

Note that this is valid as per https://doc.rust-lang.org/cargo/reference/manifest.html#the-profile-sections - `lto` can be a boolean or a string.

[2018-11-30 22:48] gyscos opened #148 "Publish 0.7.1 tag & release"
Hi!
Now that 0.7.1 was published on crates.io, could you push a tag for it, and maybe set up a github release? This helps packaging for distributions.
Thanks!

[2018-12-03 04:57] svenstaro commented on #141
Isn't this going to fix itself once the next rust is released which will bring edition 2018 to stable?

[2018-12-06 19:51] aldanor commented on #141
Nope; 2018 is out today, this still fails on 1.31 stable.

[2018-12-06 20:07] joelgallant commented on #141
Is because it uses the API of an older version of cargo

[2018-12-06 21:46] Cogitri commented on #148
FWIW, you can download from crates.io too: https://static.crates.io/crates/cargo-outdated/cargo-outdated-0.7.1.crate

[2018-12-11 03:17] azriel91 opened #150 "Memory usage is high, resulting in Out of memory OS kill"
When running `cargo outdated` on a repository with many small crates (46), this error appears after a while:

[code]

The system is Ubuntu 16.04 with 8 GB physical memory. Investigating with:

[code]

gives:

[code]

I haven't checked code, but if it's trying to compile the whole repo in `/tmp` which is mounted on my RAM, perhaps that explains it.

A proposed fix is to take in a parameter for the

[2018-12-13 04:47] jonathandturner opened #151 "Rust 2018 edition is now stable"
With the Rust 2018 edition release, it might need a bump to know that "editions" is now stable.
[code]

[2018-12-13 22:46] Mike-Neto commented on #151
https://github.com/kbknapp/cargo-outdated/pull/145 has a fix for this, waiting on the merge as well

[2018-12-14 14:19] mati865 commented on #151
Duplicate of https://github.com/kbknapp/cargo-outdated/issues/141

[2018-12-22 02:58] est31 commented on #141
Particularly sad for me because I just updated my copy of cargo-outdated from an ancient version that didn't have the edition feature gating yet to the broken one... I guess I'll use @bbigras 's [workaround](https://github.com/kbknapp/cargo-outdated/pull/145#issuecomment-448351734) for the time being.

[2018-12-23 17:12] Cogitri commented on #151
I guess this can be closed now.

[2018-12-26 15:42] kornelski commented on #148
I've added a tag

[2018-12-26 15:42] #148 closed

[2018-12-26 15:43] kornelski commented on #141
This is fixed. It's waiting for crates.io release, but for now you can also install it from git.

[2018-12-26 15:43] #141 closed

[2018-12-29 16:42] est31 opened #154 "Can't run with cargo nightly features"
Cargo-outdated can't run if I'm using cargo nightly features.
E.g. put this into your Cargo.toml ([profile-overrides](https://github.com/rust-lang/rust/issues/48683) feature):
[code]

Then you'll get this by Cargo-outdated:
[code]

[2018-12-29 20:00] kornelski commented on #154
Yes, that's an unfortunate limitation of bundling own cargo version as a library.

[2018-12-29 20:53] est31 commented on #154
Nevermind... that doesn't work.

What's needed is calling `maybe_allow_nightly_features` I think: https://docs.rs/cargo/0.32.0/cargo/core/fn.maybe_allow_nightly_features.html

[2018-12-29 21:09] est31 commented on #154
Okay, that works. @kornelski made a PR: #155

[2018-12-30 06:08] #154 closed

[2018-12-31 18:41] kraai commented on #144
I think you can do this already by using `--exit-code 1`.  That was supposed to fix #23, which this seems to be a duplicate of.

[2019-01-02 16:22] eduardobraun commented on #144
Yes its a duplicate, I completely missed this argument. Sorry.

[2019-01-02 16:22] #144 closed

[2019-01-02 20:34] joelgallant opened #156 "Publish v0.8.0"
I see a `v0.8.0` tag but not on crates.io

[2019-01-02 23:03] kornelski commented on #156
Known problem #153. The crate owner is busy. It'll get published when he's available.

[2019-01-02 23:03] #156 closed

[2019-01-06 16:14] alexheretic commented on #133
Dependency renaming is now a stable feature so it would be great to have support for it.

[2019-01-07 07:18] dbrgn commented on #141
Any chance for a crates.io release? :slightly_smiling_face:

[2019-01-07 13:58] kornelski commented on #141
About the release, please see #153

[2019-01-09 20:12] kornelski opened #157 "Unable to check for updates when latest versions conflict"
`cargo-outdated` can't show any version information if Cargo finds a conflict with the latest versions.

In my case:

* criterion required `lazy_static ~1.1`
* `lazy_static 1.2` exists

If a project uses `lazy_static` on its own, this creates a conflict between criterion's 1.1 and the latest 1.2.

As a result, cargo-outdated fails and can't show any version information.

[2019-01-15 14:36] drrlvn opened #158 "Automatically upload tagged releases to crates.io in CI"
Currently release v0.8.0 is not on crates.io because [@kbknapp is busy](https://github.com/kbknapp/cargo-outdated/pull/153#issuecomment-449982916).

This would not be an issues if tagged releases were automatically uploaded to crates.io by CI.

Note that it also means that permissions don't need to be managed in multiple places.

[2019-01-16 08:00] Dylan-DPC commented on #158
Thanks. Though I am not favour in automating crates,io releases since it could be a risk going forward.

[2019-01-21 14:10] est31 commented on #158
It would be nice to be able to have push-only tokens that can only publish for one of your crates.io crates, but nothing more. Similar to GitHub deploy keys.

[2019-01-28 10:30] leoschwarz commented on #72
It would probably be better to have some dummy crates for unit tests.

But an alternative for regression tests which would also enable to keep track of future cargo additions is to simply download a large number of `Cargo.toml` files from crates.io and then run cargo-outdated pre and post commit (compile two binaries) on all of these files.

Then we could collect stats with a script, I would propo

[2019-02-01 23:11] repi commented on #146
Ran into this issue as well in our large workspace at Embark where we do have a few packages that we rename with `package = "bla"` to simplify usage within crates.

[2019-02-02 17:46] #133 closed

[2019-02-02 17:48] kornelski commented on #146
fixed in #161

[2019-02-02 17:48] #146 closed

[2019-02-02 21:38] leoschwarz commented on #157
Actually my issue boils down to

[code]

cargo update thinks it's fine but cargo outdated fails.

[2019-02-02 21:39] kornelski commented on #157
Yes, it's a case where even Cargo would fail to resolve the dependencies.

(criterion has updated its deps since, but the problem in general remains)

[2019-02-02 22:02] leoschwarz commented on #157
I see. (In that case the second example I've just posted might be a different issue to do with asterisk specifiers, `1.3.*`.)

If semver compatible updates are not the goal or to be disabled optionally (see #134) then I wonder if setting the version specifier to `"*"` transitively for all dependencies might fix this issue too. I guess in the case of a conflict which even cargo update cannot resolv

[2019-02-03 08:15] matklad commented on #76
Note that there's https://github.com/theduke/crates_io_api for querying crates.io API.

So it seems to me that it should not be significantly harder to avoid depending on Cargo? Specifically:

* call cargo-metadata to learn about project structure and dependencies.
* call `crates_io_api` to figure out about newer major versions
* do a "create temp workspace" trick, but run `cargo metadata` on the

[2019-02-03 14:43] kornelski commented on #76
It'd be ideal if Cargo exposed its dependency resolution algorithm as a library. Then even the "temp workspace" hack wouldn't be needed — cargo-outdated could read and evaluate data straight from the API.

[2019-03-01 15:38] deg4uss3r commented on #55
Hey guys, just changed jobs over and using this issue to get back into things :D

I have a rough draft to this issue in [json_feature](https://github.com/deg4uss3r/cargo-outdated/tree/json_feature) hoping this helps :)

[2019-03-07 09:08] RalfJung commented on #157
I think I am running into this issue as well:
[code]
This is a regression: I have just updated cargo-outdated, and before the update, this exact same repository would work just fine for cargo-outdated. Unfortunately I don't know which version number I came from, but it was old.

[2019-03-10 03:16] 0xpr03 commented on #150
Just wanted to note that it works without such problems here on 35 root dependencies (at 340 dependencies to build). With max of 119MB heap, taking 1 second.

[2019-03-10 03:21] azriel91 commented on #150
Btw, are you using a workspace, where the root crate is non-virtual (aka has source code)?

[2019-03-10 12:51] 0xpr03 commented on #150
No I'm not using any workspace, but I'm using one path-local crate. That could be the difference.

[2019-03-10 14:45] 0xpr03 commented on #150
Oh and it could also be some recursion in your dependencies, if the depth is making a difference.

[2019-04-03 14:11] kjeremy opened #165 "cargo outdated on rust-analyzer failed on windows"
The `jemalloc-sys` crate isn't used on windows. I think this may be related to feature detection.

$ `cargo outdated`

[2019-04-04 08:35] kornelski commented on #165
Thanks for the report. This is duplicate of #157

[2019-04-04 08:35] #165 closed

[2019-04-20 15:28] snsmac commented on #126
The same happens for `[patch]` sections

[2019-04-20 15:34] kornelski commented on #126
If you set `RUST_LOG=debug`, you'll get (too much) info from Cargo. It looks like the problem is the `path`, which becomes invalid after cargo-outdated copies the project to a temporary directory.

[2019-05-02 11:40] Nemo157 commented on #158
@est31 yes! See https://github.com/rust-lang/crates.io/issues/849 for the upstream issue to enable that.

[2019-05-04 12:43] timvisee opened #167 "Aliased dependencies cannot be checked"
When having an aliased crate dependency, `cargo-outdated` fails to check for outdated crates returning an error.

In [`ffsend`](https://github.com/timvisee/ffsend) I've a crate dependency for `clipboard` aliassed to `clip`:
https://github.com/timvisee/ffsend/blob/d4efd984eb1c5a07d36bcba82b34d2c378db5dc0/Cargo.toml#L128

When running `cargo outdated -d1` it fails with the following error:
[code]

T

[2019-05-11 03:08] Julusian opened #168 "Yanked package causes "Cannot find matched versions of package""
I have a project depending on bitflags@1.0.5, which has been yanked.
This is causing `cargo outdated` to panic:
[code]

Version: ce4b6bad (Latest master)

[2019-06-08 07:10] azriel91 commented on #167
Can confirm it's just the alias. With this:

https://github.com/alexheretic/glyph-brush/blob/glyph-brush-0.5/glyph-brush/Cargo.toml#L16

`cargo outdated` prints:

[code]

That's actually an error in `cargo` ([relevant lines](https://github.com/rust-lang/cargo/blob/1ae512da978647df80494a7ac663961ccab61878/src/cargo/core/resolver/errors.rs#L265-L270))

[2019-06-08 08:27] azriel91 commented on #167
This is fixed by [updating to `cargo`'s `master` branch](https://github.com/azriel91/cargo-outdated/tree/use-cargo-master), so the bug is somewhere in Cargo. They haven't pushed a release though, so `cargo-outdated` can't simply depend on something from crates.io.

You can test it out using:

[code]

[2019-06-21 13:44] timvisee commented on #167
That's brilliant. Lets hope the changes on master are published soon.

Thank you for taking the effort to figure this out.

[2019-07-01 23:02] tangmi commented on #118
I can confirm that the `use-cargo-master` branch fixes this: https://github.com/kbknapp/cargo-outdated/issues/167#issuecomment-500106777

[2019-07-20 09:16] jbg commented on #157
I have a dependency on `ring v0.14.6` and can't use `cargo outdated` now that a newer version of ring has been released. Multiple versions of `ring` can't be linked into the same program (briansmith/ring#535), and something to do with the way that `cargo outdated` figures out what is outdated triggers that issue:

[code]

[2019-07-27 21:15] kornelski commented on #157
I've created a workaround for this — a command that just checks cargo metadata against the index, without trying to be clever about resolving the versions:

https://lib.rs/cargo-upgrades

[2019-07-28 07:21] jbg commented on #157
@kornelski perfect, that does a great job. thanks!

[2019-08-15 15:11] lzutao opened #173 "the `default-run` manifest key is unstable"
But `default-run` is stable since Rust v1.37.0. What else do we need to make it work?

[2019-08-15 15:38] kornelski commented on #173
`cargo-outdated` needs to depend on a newer version of Cargo.

Alternatively, use https://lib.rs/cargo-upgrades that uses system's Cargo.

[2019-08-15 15:48] lzutao commented on #173
Thanks, so we need new version of cargo crate.
About `cargo-upgrades`, I tried it, but it didn't work correctly like cargo-outdated.

[2019-08-20 19:54] #173 closed

[2019-08-30 19:49] bbigras commented on #167
Any progress on this?

[2019-08-30 21:43] azriel91 commented on #167
Built `cargo-outdated` from the `master` branch (which has already picked up the fix from `cargo`), and it successfully processes the `glyph-brush` crate.

[2019-09-04 19:03] timvisee commented on #167
@azriel91 It still fails to handle the `Cargo.toml` in the [`ffsend`](https://github.com/timvisee/ffsend) repository using the latest `cargo-outdated` from master.

[code]

[2019-09-11 22:44] kuviman opened #175 "default-run target not found"
Looks like the default-run target is recognized on current master (this issue is closed #173), but it does not seem to work:

1) `cargo new hello`
2) Edit `Cargo.toml`, adding `default-run = "hello"`
3) `cargo outdated`

[code]

[2019-10-14 15:00] deg4uss3r commented on #168
Hi @Julusian I was trying to reproduce the issue this morning but failed to do so with cargo `v1.37.0 (9edd08916 2019-08-02)`. What I get now is:

[code]

Are you still able to make `cargo-outdated` panic by using a yanked crate?

[2019-10-15 17:06] Nemo157 commented on #167
Minimal repro for the issue with reusing a dependencies true name as a feature name:

[code]

[2019-10-15 18:22] #175 closed

[2019-11-07 15:44] jonhoo commented on #168
I get the same issue on the `async-await` branch of https://github.com/mit-pdos/noria (comment out the `patch` section in the root `Cargo.toml`), though there no crates are yanked as far as I'm aware. This is with
[code]

[2019-11-07 16:49] deg4uss3r commented on #168
Thanks @jonhoo I can see a panic now, looks like roughly the same issue above:

[code]

There appears to be something fishy with how it is resolving a `tokio-tower` dependency. I'm looking into the root cause now.

[2019-11-07 18:42] deg4uss3r commented on #168
Okay, after many print statement debugging attempts I see the issue is here[0]. I *think* this complicated block could be replaced with `semver::Version.parse(requirement) == version` for better semantic version matching. :)

[2019-11-15 16:43] jonhoo commented on #118
Should this be closed now then?

[2019-11-15 16:44] jonhoo commented on #137
This is probably a duplicate of either https://github.com/kbknapp/cargo-outdated/issues/167 or https://github.com/kbknapp/cargo-outdated/issues/126. It'd probably be good if `cargo-outdated` could provide a more verbose error message for these situations.

[2019-11-20 03:24] azriel91 commented on #118
It can be since `master` includes an updated `cargo` dependency. Would be good to have a release of `cargo-outdated` so that installing from crates.io would avoid this issue.

[2019-11-23 23:51] kpcyrd opened #177 "Latest release doesn't work with --locked"
Hello!

just letting you know that the latest release tarball ships an outdated Cargo.lock which breaks `cargo build --release --locked`

[2019-12-04 15:07] est31 commented on #177
:+1: dear maintainers could you please publish a crates.io release?

[2019-12-04 15:46] est31 commented on #177
ping @Frederick888 @kbknapp

[2019-12-05 04:56] Frederick888 commented on #177
Ah, sorry, I feel guilty for this one, been kinda busy for quite a while now. I've just published v0.9.0 to crates.io.

And ping @kbknapp, is it ok for me to add @kornelski as a co-owner of this crate? I'd wait until Sunday in case you've got any concerns.

[2019-12-05 04:58] est31 commented on #177
Thanks @Frederick888 for the quick release!

[2019-12-05 18:31] deg4uss3r commented on #168
@jonhoo Can you try with the latest merge (`v0.9.1`)? Thanks!

[2019-12-06 01:42] est31 commented on #177
@Frederick888 sorry to bother you again but what exactly did the 0.9.0 release include?

I had hoped you'd publish latest master but apparently 0.9.0 still depends on cargo 0.38. The issue is that I have switched some of my projects to the Cargo.lock 2.0 format. However, support for that has only landed in 0.40 (or maybe 0.39, not sure) so I'd really love a release which includes the update to tha

[2019-12-06 02:24] Frederick888 commented on #177
@est31 I checked out the `v0.9.0` tag (which is the standard practice I reckon?). If you guys want the latest changes to land in crates.io I think a new tag is needed first.

[2019-12-06 02:53] est31 commented on #177
Okay then can you maybe add a new tag to latest master? `v0.9.1` or something? That would be great :).

[2019-12-06 03:09] Frederick888 commented on #177
@kornelski @deg4uss3r Y'all ok for me to bump the version to 0.9.1? As I'm not actively maintaining this project right now so just to make sure I don't break your workflow.

[2019-12-06 13:07] deg4uss3r commented on #177
@Frederick888 Works for me!

[2019-12-08 13:10] Frederick888 commented on #177
I've just publish 0.9.1 (68590f5) and invited @kornelski and @deg4uss3r to maintain the crate. Let me know if there are any other issues.

[2019-12-08 13:10] #177 closed

[2019-12-10 17:45] jonhoo commented on #168
@deg4uss3r hmm, I now get:
[code]
When running `cargo outdated` from the root on the `master` branch of the same repository?

[2019-12-11 00:30] deg4uss3r commented on #168
Ah I see the `=` within the quotes is messing with it, looking into it

[2019-12-11 22:33] deg4uss3r commented on #168
@jonhoo Can you catch the latest branch after the merge? I believe the error we see now on master should be there. Please let me know if I am wrong.

[2019-12-11 22:44] jonhoo commented on #168
I'm not sure I understand what you mean by "catch the latest branch after the merge"?

[2019-12-12 18:00] deg4uss3r commented on #168
I’m sorry that was auto correct, can you pull the latest commit from master and try that.

[2019-12-12 18:10] jonhoo commented on #168
That seems to have done it! :tada:

[2019-12-13 14:44] d-e-s-o opened #183 "Honor `.cargo/config` configuration"
It appears that the program does not honor `.cargo/config` as `cargo` itself does.

I have a private Git based project that is fetched over SSH. In order to do so I use an SSH alias. Cargo's git support does not honor SSH aliases and so I have the following in `<project>/.cargo/config:
[code]
That instructs `cargo` to fall back to using the `git` CLI application itself, which honors SSH aliases as

[2019-12-18 15:09] deg4uss3r commented on #168
I'll go ahead and close this issue now `v0.9.2` has resolved this.

[2019-12-18 15:09] #168 closed

[2019-12-18 15:41] deg4uss3r commented on #183
Hi @d-e-s-o I'd like to look into this issue, but have never used SSH aliases for git and cargo, could you walk me through a simple test setup so I can see this and the errors locally (well, local enough to test the fetch over ssh)?

[2019-12-19 05:41] d-e-s-o commented on #183
Sure thing. The following steps assume sshd running on port 22 (the default) and
public key authentication enabled (also the default, I believe).

[code]

[2019-12-19 14:12] deg4uss3r commented on #183
Great write up, I hope to get this setup and testing soon. Will keep this thread updated.

[2019-12-21 09:29] netvl opened #184 "Native library conflicts due to unexpected version bump"
If you run the latest version of `cargo-outdated` against the following manifest:
[code]

you will get the following error:
[code]

This is kinda unexpected, because the manifest explicitly specifies that `rusqlite` version is `0.18.0`, not `0.21.0`.

The project itself builds just fine without any issues with this setup of dependencies.

[2019-12-26 19:09] deg4uss3r commented on #183
Okay so I found out a few things:
1) There was no tracking of the `[net]` sections so I [added that](https://github.com/deg4uss3r/cargo-outdated/blob/networking_addition/src/cargo_ops/mod.rs#L50) to the `Manifest` struct.
2) The update was not checking the `Cargo.toml` in this way, but rather updating the `Cargo.lock` file [here](https://github.com/deg4uss3r/cargo-outdated/blob/networking_addition

[2019-12-28 16:47] mverleg opened #186 "unknown cargo feature `named-profiles` (nightly)"
I'm using named-profiles in my Cargo.toml to support my ``[profile.test_coverage]``.

When I run either of these,

    cargo outdated --exit-code 1
    cargo -Z unstable-options -Z config-profile outdated --exit-code 1

I get

    error: failed to parse manifest at `/path/to/project/Cargo.toml`

    Caused by:
      unknown cargo feature `named-profiles`

I'm using

    Rust: nightly-2019-12-20-x8

[2019-12-28 16:49] mverleg commented on #186
(In case cargo-outdated doesn't support nightly, I guess this issue is just a warning about possible upcoming change. I forgot that this functionality depends on nightly.)

[2020-01-03 14:36] KonishchevDmitry opened #187 "Fails to build on MacOS"
Could you please suggest how to build it on MacOS?

[code]

[2020-01-03 18:52] kornelski commented on #187
This compiles for me on macOS, so it's probably an issue with OpenSSL on your machine.

Perhaps it's this problem?

https://github.com/rust-lang/git2-rs/issues/229

[2020-01-03 19:26] KonishchevDmitry commented on #187
I've managed to figure out that it was my broken environment. :( I used `brew install openssl` for installing `openssl` dependency, but other packages already installed `openssl@1.1` as their dependency, `brew` didn't complain on having two versions installed and they interfered each other.

Thanks a lot for your help!

[2020-01-03 19:26] #187 closed

[2020-01-08 07:06] dtolnay opened #189 "Fails on crate with `links` in Cargo.toml"
#### Cargo.toml:

[code]

#### build.rs:

[code]

#### src/lib.rs:

[code]

---

`cargo check` and `cargo build` are all fine with this setup. `cargo outdated` fails with:

[code]

[2020-01-08 12:41] #183 closed

[2020-01-08 13:27] deg4uss3r commented on #189
Hi David!

Looks like this is because we are not checking if the `Cargo.toml` file adds a build file and thus not copying it to the temporary project space for building. Putting in a PR now that at least solves your minimal example now.

[2020-01-08 15:35] d-e-s-o commented on #183
Great stuff. Thank you!

[2020-01-09 01:44] f5f89da508430f4596e8456da8eb1784 commented on #184
I'm seeing similar behavior with protobuf and libp2p:

[code]

[2020-01-10 12:49] deg4uss3r commented on #189
Fixed in #190 please let us know of any other issues :)

[2020-01-10 12:49] #189 closed

[2020-01-16 10:46] huxi opened #191 "https_proxy defined in environment is not used"
A proxy defined via `https_proxy` environment variable isn't used.
Instead, the following error message is produced after timeout has been reached:

[code]

In contrast, `cargo update` honors the defined proxy.

[2020-01-16 15:26] deg4uss3r commented on #191
Hello @huxi I am looking into this, you are correct it doesn't seem to be honoring the proxy for some reason. The full environment is indeed passed to the cargo function`update_lockfile(...)` via cargo_outdated's `.cargo_update(...)`, I wondering if the API changed slightly and there need to be an option we call to honor the networking environmental variables during the lockfile update.

[2020-01-16 15:40] deg4uss3r commented on #191
Found the error! We need to bump our `cargo` dependency to `0.41` I have it working on my local machine but there were some slight changes I need to test and have a few too many `.unwrap()`s to call it good yet :)

[2020-01-16 21:46] huxi commented on #191
I like that the root of the problem was an **outdated** dependency. :)
Thanks for the quick response & fix!

[2020-01-22 19:37] World4Fly opened #193 "Errors when setting CARGO_HOME"
Setting the `CARGO_HOME` environment variable causes the following errors to appear: `Update for <crate> could not be found!` Setting `CARGO_HOME` to a different path doesn't seem to change the behavior.

## Steps to reproduce
[code]

[2020-01-24 07:32] warner opened #194 "error if /tmp/Cargo.toml exists"
`cargo-outdated` is great.. thanks for writing it!

I noticed recently that if my `/tmp/` directory contains a `Cargo.toml`, running `cargo outdated` fails with a strange error:

[code]

(I don't remember why I wound up with a Cargo.toml in `/tmp`, maybe I moved something there to stash it momentarily).

Is the program maybe using `/tmp/` as a working directory, rather than creating a new (empty)

[2020-01-24 16:13] deg4uss3r commented on #193
Thanks @World4Fly I have a fix for this in staging and it's working, but I'm not sure it's the correct place/way to do it. I plan on working that out over the next week when I have some more time.

[2020-01-24 16:29] deg4uss3r commented on #194
Hi @warner I am not able to recreate this on MacOS. I copied both the same project's `Cargo.toml` and, for fun/trying to really confuse `cargo-outdated`, a different and more complicated project's `Cargo.toml`.

Which OS was this on, and what version of `cargo-outdated` are you running? I tried the one cargo installs`v0.9.1`, the one in master`v0.9.2`, and the one in the PR`v0.9.3` all of these pa

[2020-01-24 18:38] warner commented on #194
Hm. It was Linux (Debian "buster"), and `cargo-outdated v0.9.1`. I got the same result on an Ubuntu 18.04 "bionic" platform (and which was a server, rather than my development machine, so perhaps less likely to have a weird forgotten configuration change lurking about). My MacOS machine is in the shop, but in a week or so I can try to reproduce on there.

I know MacOS usually has a more interestin

[2020-01-24 20:02] warner commented on #194
strace shows it doing a lot of work in a subdirectory of `/tmp`, but also looking in `/tmp` itself for some files. Here's a **stripped down** copy of the `strace` output:

[code]

after that it just deletes the contents of the tempdir and prints the error message.

It smells like it copies the project (including Cargo.toml) into a new empty working directory (`/tmp/cargo-outdated7qRl8L`), then wal

[2020-01-24 21:40] deg4uss3r commented on #194
I agree that’s probably what’s happening, I’ll boot up my Ubuntu VM and try there soon, thanks for all the wonderful info it will definitely help.

[2020-01-28 13:15] deg4uss3r commented on #194
After diving into this I found it is an intended affect of the Cargo API. Looks like https://github.com/rust-lang/cargo/issues/1423 is an (older) issue tracking the affect of this on some projects.

And is specifically traced to this line here: https://github.com/rust-lang/cargo/blob/master/src/cargo/core/workspace.rs#L415

I took a look around and nothing in the API will prevent the line from get

[2020-01-28 20:17] warner commented on #194
Huh, weird, thanks for investigating!

I read through the ticket, but it wasn't clear to me whether their intended behavior was just to search *downwards* for `Cargo.toml` files, or whether it should also be walking *upwards*. I don't yet see how a project rooted in `/tmp/FOO` (using `/tmp/FOO/Cargo.toml` as the main configuration file) would benefit (according to the not-relying-on-a-top-level-ma

[2020-01-29 08:04] deg4uss3r commented on #194
I did do:

[code]

And that fails as well, actually on the `cargo new` command will warn you about the upper level `Cargo.toml` file and assume you mean to use virtual workspaces, which makes sense.

I can also put in a comment to see if this could be gated with an option, i can see why this is normal behavior for Cargo, but the API it should have a way around it.

[2020-01-30 10:09] Marwes opened #195 "cargo-outdated panics if an git url with ssh is specified"
Running `cargo outdated` on a crate with the following `Cargo.toml` results in a panic.

[code]

[code]

[2020-01-30 11:16] gdesmott commented on #193
I was wondering why `cargo outdated` was not working when running in my CI, that explains it! Thanks :)

[2020-01-30 12:26] deg4uss3r commented on #195
Hello @Marwes thanks for reporting this issue! This was resolved it in #182  and is the current master branch but was not tagged/released via Crates.io yet (which would be `v0.9.3`). We are working to get the newest version tagged and released as soon as possible, sorry for the delay on this!

One thing I noticed in the example you provide is the dependency section should be like so:

[code]
If yo

[2020-01-30 13:19] Marwes commented on #195
It was just a minimal reproduction from a larger file, I just wrote the first repo I could think of in there and it was enough to reproduce :).

It does not appear to be fixed on master. Did `cargo install --git https://github.com/kbknapp/cargo-outdated` and the same panic still occurs.

[2020-01-30 13:39] deg4uss3r commented on #195
Oh, that's really strange this happens if you have it in `~/.cargo/bin` versus in your `$PATH`. I'll look into why this is happening ASAP.

[2020-01-31 12:01] deg4uss3r commented on #195
FYI, I put in the above work in progress PR to [rust-lang/cargo](https://github.com/rust-lang/cargo/pull/7849) after finding the root cause. Hopefully, this could get rolled out shortly.

[2020-01-31 13:04] #191 closed

[2020-02-04 18:40] World4Fly commented on #193
@deg4uss3r Sounds awesome! No need to stress it, `unset CARGO_HOME` works perfectly fine in my CI for now. :)

[2020-02-04 22:28] tjodden opened #197 "Proxy support"
I get network errors when trying to run `cargo outdated` at work, where using a HTTPS proxy is required for all outgoing connections. It seems like `cargo outdated` does not respect the system proxy settings (i.e. `HTTPS_PROXY` environment variable). Since the regular `cargo update` command *does* work fine, it's probably just some setup for cargo-the-library missing in `cargo outdated`.

For refe

[2020-02-05 14:26] deg4uss3r commented on #197
Hi @tjodden can you let me know which version of `cargo outdated` you are using?

Thanks!!

[2020-02-05 14:39] tjodden commented on #197
Version 0.9.1.

[2020-02-05 15:00] deg4uss3r commented on #197
Thanks @tjodden we believe we solved this with #192 could you update by doing the following and see if it works with your company proxy?

`cargo install --git https://github.com/kbknapp/cargo-outdated`

You should see `v0.9.4` after updating to the master branch.

[2020-02-05 16:29] tjodden commented on #197
Unfortunately the problem remains after updating:

[code]

I verified that `cargo update` still works:

[code]

[2020-02-05 17:05] deg4uss3r commented on #195
We pushed a new lock file to master today (`v0.9.5`) that will solve this issue.

To resolve while we wait for the workaround in `cargo` (`v0.43`) install `cargo-outdated` with:

`cargo install --git https://github.com/kbknapp/cargo-outdated --locked` (you might also need the `--force` switch if it is already installed).

[2020-02-05 17:05] #195 closed

[2020-02-05 18:58] deg4uss3r commented on #197
Thanks @tjodden Could you expand a bit more on how you setup your proxy (you don't have to divulge any corporate links, I'm just curious what could be different than below)? I tested this on both MacOS and Ubuntu (19.04).

For example, I'm trying to reproduce the error I am using `[pproxy](https://github.com/qwj/python-proxy)` as it's the most up-to-date http(**s**) proxy I could find that was qui

[2020-02-06 10:27] tjodden commented on #197
My setup is:

[code]
Then, there is a firewall that disallows all outgoing connections from the corporate network, so you have to use the proxy server. To mimic this setup, I think you'd have to run pproxy on a different machine, and configure a firewall on your machine that blocks outgoing connections on port 443.

[2020-02-06 10:41] tjodden commented on #197
I ran `cargo outdated` through `strace` and it seems that the proxy *is* used *at first*, but a *later* connection attempt does not use it. This would explain why you saw hits in your proxy, even though it fails for me.

First  `connect`:

[code]
Second `connect`:

[code]

[2020-02-06 11:11] tjodden commented on #197
I had a look at the `cargo` source, and found the following function in [src/bin/cargo/main.rs](https://github.com/rust-lang/cargo/blob/bb3f2c59274dbf181f2d1a58c54486df4292ec2a/src/bin/cargo/main.rs#L181):

[code]

I couldn't find any similar code in `cargo outdated`, so I copied this function as-is and added a call to it just after `Config` is created in `main`. And that solved the problem!

[2020-02-06 13:55] deg4uss3r commented on #197
Magic! That's great @tjodden

Just to confirm (since I cannot replicate with my environment) you solved it like this:
https://github.com/deg4uss3r/cargo-outdated/blob/proxy_resolve/src/main.rs#L114-L132

If you'd like to put in your solution as a PR that's great, if not I'll PR that change and merge it today.

I test both on an off proxy and this works for me as well.

[2020-02-06 14:48] tjodden commented on #197
I tried your branch @deg4uss3r and it works excellent for me as well. Feel free to PR it.

However, running `cargo outdated` on it's own project in that branch gives the following error:

[code]

No problem running `cargo build` though, so I'm not sure what's going on.

[2020-02-06 14:55] deg4uss3r commented on #197
It's trying to build with a newer `git2-curl` which is using a newer`libgit2-sys` than `cargo` uses, and that's a system-level conflict... I ran into that while testing this build, you *have* to use `git2-curl:0.11` which is `libgit2-sys:0.9`.

[2020-02-06 16:52] deg4uss3r commented on #197
Merged :)

[2020-02-06 16:52] #197 closed

[2020-02-06 21:55] tjodden commented on #197
Thanks!

[2020-02-10 16:09] #55 closed

[2020-02-11 00:44] Boscop opened #203 "thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: ()'"
Running it in my workspace doesn't seem to work:
[code]

[2020-02-11 01:59] deg4uss3r commented on #203
Hi @boscop, what version of `cargo-outdated` are you running (`cargo outdated —version`)?

Thanks!

[2020-02-11 13:25] deg4uss3r commented on #186
This appears to have been resolved with the bumps to the `cargo` dependency. Can you confirm @mverleg?

For example this manifest works:
[code]

[2020-02-11 13:29] deg4uss3r commented on #184
I just tested on the OC manifest and this appears to have been resolved with the updated to the `cargo` dependency. Can you confirm @netvl or @f5f89da508430f4596e8456da8eb1784 ?

[2020-02-11 18:57] Boscop commented on #203
@deg4uss3r 0.9.5

[2020-02-11 19:28] deg4uss3r commented on #203
Thanks @Boscop, did you install as follows:

`cargo install --git https://github.com/kbknapp/cargo-outdated --force --locked`

I caught the `--locked` being left off the documentation this morning and updated that. We have to lock the `url` dependency that `cargo` is using to an older version until `ssh` parsing is resolved. Reinstall with above and let me know if you're still seeing this error.

[2020-02-11 20:08] mverleg commented on #186
Upgraded and now it works for my project, thanks!

[2020-02-11 20:08] #186 closed

[2020-02-12 12:25] Boscop commented on #203
Thanks, that worked. So the url crate stopped accepting ssh urls?

When should I go back to using the crates.io version? When this https://github.com/kbknapp/cargo-outdated/issues/99 is closed?

[2020-02-12 17:15] deg4uss3r commented on #203
No worries @Boscop

It's a parsing issue, the `url` crate changed the way it does `ssh://` -> `https://` parsing and broke the `cargo` API for this. The next `cargo` update (`0.43.0`) will have a work around for the underlying `url` crate change. Once that happens we will test and patch into crates.io (which currently is out-of-date at the moment as is).

[2020-02-12 17:15] #203 closed

[2020-02-13 13:38] rubberduck203 opened #205 "Version 0.9.5 fails to install because of unstable feature"
[code]

The toolchain I was trying to install with

[code]

Installing the previous released version works fine.

[code]

[2020-02-16 18:59] bhipple opened #206 "Updated git release tags"
The last tagged release appears to be 0.8.0, while crates.io has up to 0.9.5.  While many users may just run `cargo install`, it's useful for users building from source to have a git tag that corresponds with the release. Moreover, distribution packaging generally builds from src and needs to know which commit to checkout.

Can we add the git release tag for whichever commit produces 0.9.5?

[2020-02-16 19:50] bhipple commented on #206
Actually, I managed to find it by downloading and unzipping the create, which includes a cargo vsc info json file that says the git commit for 0.9.5 is 7685da3265749bb7ae2b436a132f51d19b409bff.  Even though this information can be discovered by round-tripping through crates.io, it'd still be nice to have it on git.

[2020-02-18 15:20] deg4uss3r commented on #205
Thanks for the issue @rubberduck203 !

I was just able to recreate this, it is down to the fact you're running `rustc` `1.38.0` and the current stable `rustc` is `1.41.0`, because we need to keep up with `cargo`'s API for `cargo` bug fixes and features `cargo-outdated` should match as closely as possible the **current stable version**.

If you update `rustc` to the current stable, `cargo-outdated`

[2020-02-18 15:20] #205 closed

[2020-02-18 15:25] deg4uss3r commented on #206
Done! Going forward we hope to be better about this. Thanks for putting this in!

[2020-02-18 15:25] #206 closed

[2020-02-23 16:04] rubberduck203 commented on #205
Thanks @deg4uss3r. I know you're still pre-1.0, but it would be useful to document the minimum required rustc version required per version of cargo-outdated. For folks interested in running Rust in production, it may not be convenient to update their compiler version. Just a thought. Thanks for looking into this.

[2020-02-24 09:55] Boscop commented on #203
@deg4uss3r Btw, do you have a link to the upstream issue? I can't seem to find it..

[2020-02-24 13:31] deg4uss3r commented on #203
@Boscop I don't have an upstream issue; however, I did put in a PR for this https://github.com/rust-lang/cargo/pull/7849 and was told the issue was fixed in staging and awaiting the `v0.43.0` release.

I hope that helps!

[2020-02-24 13:33] deg4uss3r commented on #205
Thanks @rubberduck203 we are going to try to be better about this in the future!

[2020-02-26 14:32] lyro opened #207 "error raised if a feature and a (renamed) package have the same name"
If you have a feature with the same name, say `xyz`, and a package with the same name then an error is raised:

[code]

This happens even if the package has been renamed:

[code]
All regular cargo commands allow this.

[2020-03-02 17:08] deg4uss3r commented on #207
Hi @lyro Thanks for this issue.

I found out the upstream issue is actually https://github.com/alexcrichton/toml-rs/issues/265

I have a really ugly patch that gets this working in https://github.com/deg4uss3r/cargo-outdated/tree/namespace

I hope to clean that up later this week and have a work in progress PR going.

[2020-03-05 14:09] #167 closed

[2020-03-05 14:26] #193 closed

[2020-03-05 14:57] deg4uss3r commented on #207
Fixed by #208

[2020-03-05 14:57] #207 closed

[2020-03-05 14:57] #184 closed

[2020-03-06 04:22] gdesmott opened #211 "Don't ignore CARGO_HOME if defined"
#200 has been implemented as a workaround to not break `outdated` if env variable `CARGO_HOME` is defined.
It works fine but it's a bit unfortunate as all dependencies are now re-downloaded when running `outdated`. This is specially hurting CI jobs which generally have to redefine `CARGO_HOME` to be able to cache dependencies crates.

[2020-03-06 04:22] gdesmott commented on #193
Thanks for the workaround. I opened #211 to have a proper fix.

[2020-03-06 14:51] deg4uss3r commented on #211
Thanks for putting this in, when GitHub auto-closed the issue, and I forgot to open a new tracking issue to help fix this!

[2020-03-12 14:48] reitermarkus commented on #187
Also just ran into this issue.

@KonishchevDmitry, how exactly did you fix this?

[2020-03-12 18:44] KonishchevDmitry commented on #187
I just deleted `openssl` and kept `openssl@1.1`.

[2020-03-12 19:12] reitermarkus commented on #187
Well, I only have `openssl@1.1`, and it's not working.

[2020-03-13 11:16] deg4uss3r commented on #187
@reitermarkus could you post your compilation message and error?

[2020-03-16 21:12] application-developer-DA opened #212 "`cargo-outdated` fails with "failed to download" error"
I've tried both versions:

`cargo install --force cargo-outdated --locked`

and

`cargo install --force --git https://github.com/kbknapp/cargo-outdated --locked`

In both it fails with the same error type:

[code]

An attempt to run the command in a verbose mode results in bunch of warnings:

[code]

I see that these are the dependencies (direct and indirect) of my project, but I'm not sure why th

[2020-03-17 01:51] deg4uss3r commented on #212
These appear to be network timeouts, are you behind a proxy?

`cargo-outdated` should have `$HTTPS_PROXY` set your communicate with the pass through to the external network.

If no what details can you give about your network setup?

[2020-03-17 01:54] Dylan-DPC commented on #212
Yes there was some issues with crates.io which could be causing this. Can you try again ?

[2020-03-17 10:03] application-developer-DA commented on #212
No proxy set up. Just a regular Wi-Fi connection to my router (which in turn receives the IP address from the ISP via DHCP).

[code]

Sure. I've just retried, same error type.

[code]

[2020-03-17 13:29] deg4uss3r commented on #212
Yeah looks like you did get it with the crates.io outage at first with this error:

  failed to get 200 response from `https://crates.io/api/v1/crates/core-foundation/0.6.4/download`, got 502`

However, you are still getting timeouts. I added `winapi v0.2.8` to a test project but was able to see the new version just fine (even behind my work proxy!). I've really only seen this when you cannot conn

[2020-03-17 15:42] application-developer-DA commented on #212
No, no special configuration. I've installed `rustup` a couple days ago (also without any special configuration) and just fetched the `cargo-outdated` from GitHub with a regular `git clone`.

`cargo update && cargo check` also works fine on my project (it also fetches the crates from `crates.io`).

[2020-03-17 16:29] cmdln commented on #212
I am also running into this, today.

[2020-03-17 16:42] deg4uss3r commented on #212
@cmdln Any additional information you could give might be helpful, I cannot recreate this and from the errors I'm stumped.

@application-developer-DA could you also try running with `RUST_LOG=debug`? Try this in a small replicated project, otherwise there will be a lot of output and the true error might be buried.

[2020-03-17 16:44] cmdln commented on #212
I thought it might be my VPN but I disabled that and am still seeing network errors like this.
[code]

[2020-03-17 16:52] deg4uss3r commented on #212
@cmdln can you try with `export RUST_LOG=debug` as well? Again do this in a smaller repository it will output a lot of stuff (e.g. a toml containing only something like`rand = "0.6"`).

Right now I'm not sure what's blocking/slowing the connections unless it's crates.io itself, but I am not seeing this.

[2020-03-17 16:59] cmdln commented on #212
Smaller repo works without error. :/

[2020-03-17 22:14] application-developer-DA commented on #212
I'm wondering if the issue may be caused by an executable not trying to fetch using all available IP addresses for a given host. Could it be that the tool just tries the first available address which it resolves to and does not try to re-try the download in case it fails to fetch something using the provided address?

[code]

[code]

[2020-03-23 12:21] deg4uss3r commented on #212
I don't think that's the underlying error here, but I could definitely be wrong! Did you try running with `RUST_LOG=debug` to see if there's some low level network errors that are reported?

[2020-03-24 18:06] application-developer-DA commented on #212
I tried with debug logs, but I had the same experience @cmdln had: it worked without any issues on smaller repositories.

Now I'm getting a slightly different error by the way:

[code]

I found the smallest repository where the problem is reproducible and reproduced it, then used `sed` to filter some unrelated messages, but it's still a 213 KB log file which ends with the following lines:

[code]

[2020-03-24 18:15] deg4uss3r commented on #212
That's interesting..

 @application-developer-DA could you post the `Cargo.toml` that reproduces this and the other error for you?

[2020-03-25 02:19] deg4uss3r commented on #212
@application-developer-DA and @cmdln I just updated `cargo-outdated` to use the latest version of `cargo` API (`v0.43.1`) can you try the latest version of `cargo-outdated` (`v0.9.8`)?

Thanks!!

[2020-03-25 02:21] deg4uss3r commented on #211
Hi @gdesmott could you test my [branch](https://github.com/deg4uss3r/cargo-outdated/commit/f89065105dc7325e19bac88fb2c62b19fde48e35) that fixes this please? I works for me locally, but I want to make sure this works in a CI environment or if you can mimic that it would be really helpful before I PR and merge.

Thank you!!

[2020-03-25 08:42] gdesmott commented on #211
@deg4uss3r : that [didn't work](https://gitlab.freedesktop.org/gdesmott/karapulse/-/jobs/2051876). It re-downloaded deps and failed to find some.

[2020-03-25 14:09] deg4uss3r commented on #211
Thanks for testing that @gdesmott!

When testing locally it seems to understand if the directory exists, and does not download the dependencies again. Also if the directory doesn't exist, it will create it! I tested on MacOS (Mojave) and Ubuntu. The only error I got was if I tried to write to the root directory as if your `${CI_PROJECT_DIR}` variable was empty and got:

`error: failed to create di

[2020-03-25 14:56] cmdln commented on #212
Works for me--thanks!

[2020-03-25 16:18] gdesmott commented on #211
No that's really strange, my `CARGO_HOME` is defined as `"${CI_PROJECT_DIR}/build/target/cargo-home/"`  which seems to work for the other jobs so I guess it's correct.

[2020-03-25 17:24] deg4uss3r commented on #211
@gdesmott I'm stumped! Could you try to verify locally, so it's not just me? I think this might be CI is a different configuration.

[2020-03-27 12:02] application-developer-DA commented on #212
For most of the (smaller) repositories which did not work with `cargo-outdated` and triggered the errors I mentioned in my previous comments it works well now, thanks!

But the bigger repositories still have this problem.

[code]

I extracted the relevant part into a separate `Cargo.toml` which I can use to reproduce the error. Interesting enough, the error is not always the same.

[code]

[2020-03-27 13:38] deg4uss3r commented on #212
When checking this exact `Cargo.toml` file with the crate.io's version of cargo-outdated (`v0.9.8`) on MacOS (Mojave `10.14.6`) I don't see any errors at all :(, I also checked on my work VPN tunnel (much smaller pipe than my home network) and did not see any timeouts, or errors that caused it to fail.

I ran 10x in a row to double check and nothing.

What machine (OS) are you running this one nor

[2020-03-27 15:54] application-developer-DA commented on #212
On Mac OS X I also don't have any issues, that's why I suspected the handling of IPv4/IPv6 addresses or something like this (see https://github.com/kbknapp/cargo-outdated/issues/212#issuecomment-600326277).

The issue is reproducible on my primary Arch Linux system. The only my assumption would be that the underlying function used by `cargo-outdated` is `gethostbyname()` and not `getaddrinfo()` wh

[2020-03-29 03:56] pickfire commented on #121
I had the same issue too.
[code]
Package rename does not work.

[2020-03-29 21:24] deg4uss3r commented on #121
Hi @pravic thanks for putting in the issue!

`cargo-outdated ``v0.7.0` is pretty old now, the latest is `cargo-outdated` `v0.9.8` which will require `rustc` `v01.42` since it depends on `cargo` `v0.43.1`.

Using:
`rustc 1.42`
`cargo 1.42.0`
`cargo-outdated 0.9.8`

I get a full good report from the `Cargo.toml` at https://github.com/sciter-sdk/rust-sciter:
[code]

[2020-03-31 21:58] frederikhors opened #215 "Checkbox in CLI like npm-check"
Thanks for your work!

It would be amazing to have something like https://github.com/dylang/npm-check for this amazing project!

![image](https://user-images.githubusercontent.com/41120635/78078977-7bb0af00-73ab-11ea-9349-ae10440c35eb.png)

[2020-04-01 16:21] deg4uss3r commented on #215
Hi @frederikhors Thank you very much for the issue! I lean towards keeping this a CLI vs TUI application for simplicity sake. `cargo-outdated` has always stated it is simply a report tool you run for finding out-of-date dependencies.

[2020-04-01 16:56] frederikhors opened #216 "warning: Feature uuidv07 of package diesel has been obsolete in version 1.4.4"
I have this in my **Cargo.toml**:

[code]

It works because of `uuidv07` feature but `cargo outdated` gives me this warning:

`warning: Feature uuidv07 of package diesel has been obsolete in version 1.4.4`.

**Why?**

[2020-04-01 16:57] frederikhors commented on #216
https://github.com/diesel-rs/diesel/issues/2348

[2020-04-01 20:24] deg4uss3r commented on #216
Hi @frederikhors thanks for this issue!

This is because `uuidv07` isn't explicitly in the `[features]` section of the `Cargo.toml` but is mapped to the `uuid` package here:

`uuidv07 = { version = "0.7.0", optional = true, package = "uuid"}`

I think this is a small UI bug and I am creating a patch for it. I have something working I just need to clean it up :)

[2020-04-01 21:07] frederikhors commented on #216
I'm new to Rust.

Is this a problem with `diesel` also or only with `cargo-outdated`?

[2020-04-01 21:21] deg4uss3r commented on #216
No worries, looks like just `cargo-outdated` is parsing this slightly wrong.

In the `diesel` changelog.md; however, it looks like the next release will rename this to`uuid` and drop support for older versions of `uuid`.

[2020-04-03 13:33] #215 closed

[2020-04-06 09:24] gdesmott commented on #211
That doesn't seem to work either:

[code]

Here is how I installed your branch. Is this the proper way?
`cargo install --git https://github.com/deg4uss3r/cargo-outdated.git --branch cargo_home`

[2020-04-06 20:59] deg4uss3r commented on #211
Hmm it looks like this is happening for the optional/dev dependencies of other dependencies.. I need to look into this thanks for bringing this to my attention!

[2020-04-07 14:49] deg4uss3r commented on #211
@gdesmott I believe I found the issue if you'd like to retest :) Turns out it's finding the `toml` files recursively in the directory if the `$CARGO_HOME` variable is set within the project directory causing those `Update for {} could not be found!` issues.

Let me know if this is still failing, but it appears to be downloading to the specified `$CARGO_HOME` and not re-downloading if it already ex

[2020-04-07 14:50] deg4uss3r commented on #216
I have a fix for this in https://github.com/deg4uss3r/cargo-outdated/commit/97a2e2979576e6efe02369b0f4dfec3571402e29 it is working locally for me :)

[2020-04-08 08:01] gdesmott commented on #211
It works, both locally and on CI! :+1:
Thanks for your work on this.

[2020-04-08 12:28] #211 closed

[2020-04-12 20:26] helaan opened #219 "v0.9.9 fails to parse manifest: no targets specified in the manifest"
After updating to v0.9.9 I started to get the following error message when running `cargo outdated`:

[code]

My Cargo.toml can be found here: https://dev.henkvdlaan.com/diffusion/STRATUM/browse/master/Cargo.toml . As you can see, no [lib] or [[bin]] section is present, but `src/main.rs` exists. I don't have CARGO_HOME defined.

I bisected my changes and landed on this commit: https://github.com/k

[2020-04-13 16:34] deg4uss3r commented on #219
Thanks for the issue @helaan I am able to run your `Cargo.toml` okay with `cargo outdated` `v0.9.9` on MacOS. Can you tell me a little more about your environment?

I also did not set `$CARGO_HOME`:

[code]

[2020-04-13 19:30] helaan commented on #219
Ok, the repository may be a red herring. I ran `cargo outdated` on this repo and got
[code]

So a bit more about my environment:
OS: Gentoo Linux
Rust version: rustc 1.42.0 (from source), rust 1.41.1 (from binary)

I bisected using 1.42.0, I tried the 1.41.1 compiler on both amd64 and aarch64, both combinations don't work on 0.9.9.

[2020-04-13 21:48] deg4uss3r commented on #219
Thanks for the info @helaan I'll look into this as soon as I can!

[2020-04-17 13:12] Stunkymonkey commented on #219
same error on arch-linux

[2020-04-18 19:39] infinity0 commented on #219
Same error on Debian

[2020-04-20 01:36] gmg137 commented on #131
I'm having this problem too and hope it's resolved soon.

[2020-04-29 16:08] anthraxx commented on #219
I have found that using the very same rust version (1.42.0 in my case) via rustup instead of building from source (by using system package) works. Somewhere there seems to be a difference in the environment leading to this.

[2020-04-29 16:41] kyrias commented on #219
It only works because rustup's shims always sets `CARGO_HOME`.

As linked earlier, the bug is here: https://github.com/kbknapp/cargo-outdated/commit/3b2aa268518a820d94f153928de9949e5cb4e4d2#diff-eb3c13e0392e1efb496ff86d829d78caR663

If `CARGO_HOME` is not set you're checking whether the path starts with an empty string, which is always true, so the manifest path is never added to the list of paths

[2020-04-29 21:56] anthraxx commented on #219
doh, i overlooked the mentioned bisect :joy_cat:

[2020-05-01 14:03] deg4uss3r commented on #219
Hey everyone, sorry it took a while...day job has been a little rough these past few weeks. I have a patch in [deg4uss3r/cargo_home_fix](https://github.com/deg4uss3r/cargo-outdated/blob/cargo_home_fix/src/cargo_ops/temp_project.rs#L657:L666), unfortunately I cannot recreate the issue on MacOS or an Ubunutu VM, could one of you affected by this let me know if this works? If so I can merge and relea

[2020-05-01 15:35] kyrias commented on #219
That fix is the opposite of what's required.
It needs to be  `cargo_home_path.is_none() ||`, but you might want to keep that as a separate variable.

And how did you install the rust versions you tried to reproduce with?

[2020-05-01 15:54] kyrias commented on #219
Actually, even that isn't correct as it doesn't handle `CARGO_HOME` being set to an empty string.

[code]

[2020-05-01 16:46] deg4uss3r commented on #219
Thanks @kyrias fixed!! This is why I should always add in the comments before asking for a review  XD

Let me know if this passes, sorry I must have `rust` installed via `rustup` on my VM (I didn't think I did), Unfortunately I won't have time today to change that.

[2020-05-01 16:54] kyrias commented on #219
That works, yes.  (Though `s/all all/add all/`, and `unwrap` would be fine there since after `is_none() ||` we know that it can only be `Some`.)

You can use versions installed using `rustup`, you just have to invoke it directly rather than through the `rustup` shims.  E.g. `CARGO_HOME= ~/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu/bin/cargo outdated`.

[2020-05-05 12:27] deg4uss3r commented on #219
Tagged, and released. Thanks everyone for the issue, help, and patience!

[2020-05-05 12:27] #219 closed

[2020-05-05 22:27] dubiousjim commented on #187
Hi I can't build on Mac OS X either (an older version, OS X 10.10.5). My toolchain is from macports, installed underneath `/opt/local`. I cloned the git repository and tried to `cargo build --release`, but that fails with:

I tried again with `RUSTFLAGS="-L/opt/local/lib" cargo build --release`. (That's where libiconv and libgit2 are installed.) But that fails with even more linking errors.

I'm s

[2020-05-05 23:09] dubiousjim commented on #187
Trying `cargo rustc --release -- -L/opt/local/lib` doesn't work either. Nor does `(export RUSTFLAGS="-L/opt/local/lib"; cargo build --release)`.

[2020-05-06 09:34] dubiousjim commented on #187
The [linked issue](https://github.com/rust-lang/git2-rs/issues/563#issuecomment-624542154) in the git2-rs repo describes a solution I found.

[2020-05-06 09:45] dubiousjim commented on #187
At least, it's a solution that enables me to *build* cargo-outdated. And running `otool -L ~/.cargo/bin/cargo-outdated` shows that it's linking against `/usr/lib/libiconv.2.dylib`, as that solution  intended.

When I actually try to run the binary, though, I get segfaults. Not sure if the problem arises from (the interaction of my system with) cargo-outdated, or git2-rs.

[2020-05-06 11:21] dubiousjim commented on #187
I tried the method described above, while also making sure that the header file used for libiconv is the system one (I made `/opt/local/include/iconv.h` a symlink to `/usr/include/iconv.h`). Local dir  `./lib` contains links to the system libiconv.*. As before: this builds successfully but then segfaults when I try to use it.

[2020-05-06 11:38] dubiousjim commented on #187
The macports package for libiconv also contains `libcharset.*` and headers files `libcharset.h` and `localcharset.h` too. But even if I build with all of these redirected to the versions in `/usr`, I still get: builds but segfaults on use.

[2020-05-06 13:52] dubiousjim commented on #187
I've determined that the segfaults are unrelated to the `libiconv` issues, by building using a local clone of `git2-rs` (and also `cargo`, which also depends on `libgit2-sys`). In this clone, I edited `libgit2-sys/build.rs` and `libgit2-sys/libgit2/CMakeLists.txt` so that libiconv wouldn't be used. And I can confirm that the `cargo-outdated` binary that was generated doesn't link to libiconv:

How

[2020-05-06 14:29] dubiousjim opened #221 "Segfaults on OS X 10.10"
I built a copy of cargo-outdated on OS X 10.10, with:

I had to jump through some hoops to get this to build, due to weirdnesses with my local libiconv libraries. (Documented in #187 and [in this git2-rs issue](https://github.com/rust-lang/git2-rs/issues/563).) However, as I explained in the comments to #187, even if (strategy 1) I disable the use of libiconv on my system, and confirm that the gen

[2020-05-13 11:35] sciguy16 opened #222 "Include release dates in output"
It would be useful have an option for printing the crate release dates alongside the current and latest versions to help get a good idea of a project's approach to updating dependencies.

[2020-05-21 10:37] tanriol commented on #216
Wouldn't it be enough to change [in `features_and_options`](https://github.com/kbknapp/cargo-outdated/blob/e6085e554d98438bb4bf7fcc393a5ef8b412672f/src/cargo_ops/temp_project.rs#L632) the `Dependency::package_name` to be [`Dependency::name_in_toml`](https://docs.rs/cargo/0.44.1/cargo/core/dependency/struct.Dependency.html#method.name_in_toml)?

[2020-05-21 14:30] Isona opened #223 "Add option to ignore a specific registry"
It would be useful for code reviewing purposes to allow dependencies from a private registry to be completely ignored.
My current solution to this involves removing dependencies from the private registry from the cargo.toml before running cargo outdated.

[2020-05-25 17:42] bbigras opened #224 "error: No such file or directory (os error 2)"
cargo-outdated v0.9.10

I'm using cargo-vendor.

[code]

strace
[code]

[2020-05-25 17:49] bbigras commented on #224
Apparently I need to remove `.cargo/config`. Sorry.

[2020-05-25 17:49] #224 closed

[2020-05-29 22:53] jonhoo opened #225 "Crash on alpha version"
Create a new, empty crate, and add
[code]
Run `cargo update`, then `cargo outdated`. This gives:
[code]

[2020-06-04 16:03] xd009642 opened #226 "Add --exclude option"
So I've got an instance where cargo-outdated reports there's an outdated dependency in my crate but that dependency released a regression that stops it building on my OS. I was wondering if there was potential for an exclude option as I'm also using the --exit-code option and would rather ignore that dependency and still have my CI fail if the other dependencies are out of date

[2020-06-27 14:49] deg4uss3r commented on #225
Hey Jon :)

This is because nom is listed on crates.io as `6.0.0-alpha1` not `6.0.0-alpha.1`

If we parse this with semver:

[code]

and without the `.` we see:

[code]

Which doesn't exist in the repository (since we cannot compare `6.0.0-alpha1` with `6.0.0-alpha.1`).

[2020-06-27 14:52] deg4uss3r commented on #226
Possibly could be solved with solution to #223 as well

[2020-06-27 15:06] deg4uss3r commented on #158
Since the goal will be the get `cargo-outdated` into `cargo` as a built in. Until then I'll tag and update versions to crates.io myself for bug fixes. :)

[2020-06-27 15:06] #158 closed

[2020-06-27 15:07] #157 closed

[2020-06-27 15:14] deg4uss3r commented on #150
`cargo-outdated` does build a similar project in temp, is this still happening with `0.9.10`?

If so can you provide some more information:
* Which OS and Version are you running where this is still happening?
* Which `rustc` version are you using?
* A `Cargo.toml` for me to test?

Thanks!

[2020-06-27 16:01] jonhoo commented on #225
Oh, that's funny, I didn't even notice, good catch!

Not sure there's much `cargo outdated` can do here, though it'd maybe be nice if it at least didn't crash? :sweat_smile:

[2020-07-11 20:15] #226 closed

[2020-07-16 17:58] andy128k commented on #225
@deg4uss3r Another example:

Cargo.toml has `actix-web = "3.0.0-alpha.1"` and Cargo.lock has `actix-web = "3.0.0-beta.1"`.

`cargo outdated` panics with the same error.

[2020-07-17 15:09] andy128k commented on #225
@deg4uss3r your version of cargo-outdated produces following warning

[code]

[2020-07-18 13:41] deg4uss3r commented on #225
Thanks @andy128k but I am not seeing the crash on either version..

here's my `Cargo.toml`:

[code]

Here's the package in `Cargo.lock`:

[code]

And the output from the current `cargo-outdated`:

[code]

Output from my branch which I hope to push and tag today:

[code]

Can you share you Cargo.toml?

[2020-07-18 13:58] deg4uss3r commented on #147
I believe this has been resolved by bumping `cargo` dependency.

It works for me on MacOS 10.15.5 with `cargo-outdated` `v0.9.10' (and the upcoming `v0.9.11`) using the following `Cargo.toml`:

[code]

[2020-07-18 14:06] deg4uss3r commented on #137
I believe this issues was resolved when updating `cargo` as a dependency. Please open a new issue with a failing `Cargo.toml` if this is not the case.

[2020-07-18 14:06] #137 closed

[2020-07-18 14:07] #147 closed

[2020-07-19 00:36] #225 closed

[2020-07-19 10:19] andy128k commented on #225
@deg4uss3r I rechecked with current master branch. It doesn't crash anymore.
[Here is a repo](https://github.com/andy128k/cargo-outdated-issue-225) where cargo outdated prints warning.

[2020-07-20 19:44] OskarPersson opened #230 "Collision error when running cargo outdated"
(Originally created here https://github.com/rust-lang/cargo/issues/8521)

**Problem**
When running `cargo outdated` with the dependencies described below, a collision error occurs. `cargo build`, `cargo update` and all other commands I've tested works as expected.

[code]

**Steps**
1. Create a new project (`cargo new outdated-redis`) and add the following dependencies to Cargo.toml:
[code]

2. Ru

[2020-07-20 21:06] deg4uss3r commented on #230
This is a difficult one because I would almost agree this is a `cargo` feature not bug. Essentially this is the same as a `Cargo.toml` like:

[code]

Which if you try to run `cargo build` you'll get the same error:

[code]

However, I think `cargo outdated` shouldn't panic, but rather warn that there would be a mismatch of versions. Since we're using the cargo subsystem I need to look into how tha

[2020-07-23 15:15] virtualritz opened #231 "strip in Cargo.toml gets no love from cargo outdated"
In my `Cargo.toml` I have:
[code]

This makes `cargo outdated` (v0.9.11) fall over:
[code]

Strip is a [supported feature in nightly since a while](https://github.com/rust-lang/cargo/issues/3483#issuecomment-631395566).

[2020-07-25 13:41] deg4uss3r commented on #231
Can you provide a full breaking `Cargo.toml`? As the `Cargo.toml` below works fine for me on MacOS 10.15.5:

[code]

produces:

[code]

[code]

[2020-07-25 14:18] virtualritz commented on #231
Confirmed. No idea why I got that error before but everything works now. Maybe my terminal session was somehow polluted. Sorry about the noise.

[2020-07-25 14:18] #231 closed

[2020-07-27 04:17] cberner opened #232 "error: failed to select a version for `protobuf`"
cargo-outdated fails on the fleetfs crate.

Steps to reproduce:
[code]

Expected: shows the outdated dependencies

Actual:
[code]

[2020-08-17 03:24] khuey commented on #150
I have a (not open source) workspace with a total of 766 transitive dependencies and `cargo outdated` eventually consumes all my RAM and dies. This is on Linux, rustc 1.44, and cargo-outdated v0.9.11.

[2020-08-20 23:39] deg4uss3r commented on #232
Hi! this is a well known error that isn't a `cargo` bug but more of a feature!

See this [comment](https://github.com/kbknapp/cargo-outdated/issues/230#issuecomment-661333240) for a more detailed description. Basically it boils down to how we compute the workspace after trying to update a crate.

This is a duplicate of #230

[2020-08-20 23:39] #232 closed

[2020-09-09 09:31] HenkPoley opened #237 "vendored-openssl would be nice on macOS and Ubuntu 18.04/20.04"
Statically link OpenSSL to work around some package versioning issues.

See here for an example: https://github.com/rust-secure-code/cargo-geiger/pull/99

Essentially put this in Cargo.toml
[code]

[2020-09-13 21:08] lovasoa opened #238 "error while loading shared libraries: libssl.so.1.0.0: cannot open shared object file: No such file or directory"
Since latest update, cargo outdated returns :

[code]

## System info

 - cargo 1.46.0 (149022b1d 2020-07-17)
 - Ubuntu 20.04.1 LTS
 - Linux  5.4.0-47-generic #51-Ubuntu SMP Fri Sep 4 19:50:52 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[code]

[2020-09-21 14:16] ndmitchell opened #239 "Package collision in the lockfile"
Thanks for `outdated` - it's super useful - and I've used it successfully in the past. However, today, running the latest version of `cargo outdated` (installed 10 mins ago) I get the error:

[code]

This is using a private codebase, where `foo` is not really `foo` but a different internal package. That package `foo` is used by about 7 projects with a workspace. None of these constrain the version

[2020-09-22 20:15] deg4uss3r commented on #239
If I understand correctly you have an internal crate with the same name as another dependency? Basically this happens when a crate with the same name is used in the same workspace with the same version but they are *different* crates.

This is a cargo feature actually. You can see a simple test [here](https://github.com/rust-lang/cargo/blob/85fd2865fc9cccddd7049ff45b6803c2b7ca2be8/tests/testsuite/

[2020-09-23 09:58] ndmitchell commented on #239
It's not that I have the same name twice - it's all unique. The problem is that I refer to the same project under two different paths. I put together a simplified test case at: https://github.com/ndmitchell/cargo-outdated-bug-239. Get that repo, `cd project` then:

[code]

I refer to `c` as `../c` in one dependency, and `../../project/c` in the other - these both refer to the same path on disk, bu

[2020-09-23 13:54] deg4uss3r commented on #239
Thanks so much! This very helpful I'll see if we can work on a fix for this, it appears to be pulling in the direct path and a path from the tmp director which is causing the error.

[2020-10-04 04:08] zmwangx opened #240 "Panic due to paths override in .cargo/config"
[code]

---

I use a paths override in `.cargo/config`

[code]

when working on two related crates that reside in different repos. cargo-outdated doesn't like that at all and merely panics:

[code]

Apparently related to #188, merged with a quite prophetic comment

Well, people do use things like that...

Personally I don't care about respecting the paths override, a helpful error message saying s

[2020-10-14 14:47] jmichelp opened #241 "JSON output is broken"
It seems that the JSON format is truncated.

With a short output, the JSON is empty:
[code]

And when I try to go recursively to get a bigger output, it becomes clear that the produced JSON is truncated, resulting in an invalid JSON:
[code]

Running the command multiple times also shows that the output is not consistent:
[code]

[2020-10-29 21:00] #241 closed

[2020-11-20 21:02] stormbrew opened #244 "cargo-outdated does not notice .cargo/config.toml when looking for config files to copy"
https://github.com/kbknapp/cargo-outdated/pull/188 added copying of .cargo/config files as a resolution for https://github.com/kbknapp/cargo-outdated/issues/183 but it's allowed (and even helpful for editor purposes) to have a .toml extension on .cargo/config files. Cargo itself respects this, but cargo-outdated only copies .cargo/config.

[2020-12-29 14:56] najamelan opened #245 "Arch linux now ships with libgit2-1.1 but cargo-outdated wants libgit2-1.0"
Running `cargo-outdated` now gives:
[code]

Any chance of making it compatible with version 1.1?

Not quite sure why this happens, as libgit2-sys uses version 1.1 and ships with the libgit2 code included, so it shouldn't need a system installed version.

[2020-12-29 15:09] najamelan commented on #245
After forcing a recompilation of cargo-outdated the problem went away.

[2020-12-29 15:09] #245 closed

[2021-01-11 22:58] jonhoo opened #246 ".cargo/config only respected if in current directory"
The documentation for [Cargo configuration](https://doc.rust-lang.org/cargo/reference/config.html#hierarchical-structure) indicates that `.cargo/config` files may be present at any parent directory of the current project, and that they will all be read and unified. However, at the moment, `cargo outdated` only copies over `.cargo/config` if it is in the workspace root:
https://github.com/kbknapp/c

[2021-01-11 23:07] jonhoo opened #247 "panic if dependency from alternative registry is not available from crates.io"
To reproduce:

1. Create a new project
2. Create `.cargo/config` with the following contents:
[code]
3. Add a dependency in `Cargo.toml` that exists in the [local registry](https://doc.rust-lang.org/cargo/reference/source-replacement.html#local-registry-sources), but not on crates.io.
4. Run `cargo check` to see that the project builds.
5. Run `cargo outdated` and see that it panics.

Specifically

[2021-01-15 15:02] kjeremy opened #248 "Fails trying to look for Cargo.toml in a README.md"
Running `cargo outdated` on the `rust-analyzer` repo at commit `d6a708b1eae170aee4a323ea6513bc4f2a1a5bbc` causes the following failure:

README.md is just a regular file:

Windows 10. The above output is from a git shell but I see the same thing running under `cmd.exe`

[2021-01-22 00:11] #248 closed

[2021-01-25 12:18] Darleev opened #252 "cargo-oudated installation fails: error[E0283]: type annotations needed"
Hello,

There is an issue during the cargo-outdated installation using [these two ways](https://github.com/kbknapp/cargo-outdated#installing). The following issue appears during the installation:

[code]

The issue is actual for all platforms: Windows, Ubuntu, macOS
The first time the error appeared - yesterday( 24.01.2021 )

However, in case of [install from sources](https://github.com/kbknapp/ca

[2021-01-25 13:39] miketimofeev commented on #252
Looks like the issue is related to cargo
https://github.com/rust-lang/cargo/issues/9101

[2021-01-25 14:02] Darleev commented on #252
Please check the comment above, the issue was fixed using --locked option for cargo install.

[2021-01-25 14:02] #252 closed

[2021-01-25 16:18] ckaran commented on #54
+1 to this.  I have some indirect dependencies that are out of date, but I don't know which crates are out of date.  As a result, I can't ask the maintainers of those crates to update their dependencies.

[2021-02-01 08:27] kurtlawrence opened #253 "Failing to install via `cargo install cargo-outdated`"
Hi there,

I could not install using `cargo install cargo-outdated`. Fails compilation of `cargo`:
![image](https://user-images.githubusercontent.com/13831379/106432686-2cec0e00-64c3-11eb-9d05-c6e53f8af573.png)

Running rust stable `1.49` targeting `stable-x86_64-unknown-linux-gnu`

[2021-02-01 14:41] tmarkovski commented on #253
Running into the same issue.

[2021-02-01 16:07] deg4uss3r commented on #253
please see #252

[2021-02-01 16:07] #253 closed

[2021-02-01 20:49] kurtlawrence commented on #253
Thank you! Using `cargo install --locked cargo-outdated` worked.

[2021-02-02 10:06] athei opened #254 "Compile error when installing cargo-oudated"
On Intel macOS 11.2 using stable rust 1.49.

[code]

[2021-02-02 13:31] deg4uss3r commented on #254
please see #252

[2021-02-02 13:31] #254 closed

[2021-02-16 14:37] davidbailey00 opened #256 "Fails to compile on aarch64-apple-darwin"
**How to reproduce:**

1. Use an Apple Silicon Mac
2. Run `cargo install cargo-outdated` or `cargo install --locked cargo-outdated`

**Expected result:**

The crate installs successfully

**Actual result:**

[code]

**System information:**

OS: macOS 11.3 Beta (20E5172i)
CLT version: Command Line Tools for Xcode 12.5 beta
Rust version: rustc 1.50.0 (cb75ad5db 2021-02-10)

Search terms: arm64, Appl

[2021-02-19 00:42] davidbailey00 commented on #256
I think this is what's going on (I also have `libiconv` installed via MacPorts): https://github.com/rust-lang/rust/issues/36250#issuecomment-264627178

Will look through that thread to see what solutions are available - it seems like this crate isn't responsible for the problem, seeing as I've now also encountered it when attempting to install the `cargo-edit` crate

[2021-02-19 01:07] davidbailey00 commented on #256
Aha, this is the root issue: https://github.com/rust-lang/git2-rs/issues/263

Closing as this seems to be an upstream bug and I've now found a workaround, but feel free to reopen if required :)

[2021-02-19 01:07] #256 closed

[2021-03-24 20:42] jyn514 opened #257 "Does not work on rustc itself"
[code]

[2021-03-25 15:57] nickray opened #258 "Enable resolver=2 for cargo 0.51"
`cargo::core::resolver::ResolveOpts` changed, so it's more than just bumping the `cargo` dependency.

For context, the new resolver https://blog.rust-lang.org/2021/03/25/Rust-1.51.0.html#cargos-new-feature-resolver no longer needs a `cargo-feature` activated to work, which the current release (with cargo 0.50) claims. The new resolver does however solve a lot of outstanding issues, which I think w

[2021-04-04 13:51] ArekPiekarz commented on #258
Will the proposed change fix the following problem when `resolver = "2"` is present in `Cargo.toml`?
[code]

[2021-04-13 13:30] Heliozoa opened #260 "Version conflict when using cargo-outdated, but not when using cargo check"
Hi,
Thanks for your work on cargo-outdated. I met a version conflict error that does not occur when running `cargo check`. The issue is similar to #230 but in this case I don't see this as a cargo issue/feature since check, build, test etc. work properly. Minimized example:
[code]

Running `cargo check`:
[code]
Running `cargo outdated`:
[code]

[2021-04-15 01:05] xpe opened #261 "warning: package `rand_core v0.6.1` in Cargo.lock is yanked in registry `crates.io`"
FYI:

[code]

[2021-04-18 10:26] astraw commented on #258
@ArekPiekarz yes.

[2021-04-24 17:57] deg4uss3r commented on #261
Fixed in #259

[2021-04-24 17:57] #261 closed

[2021-04-24 18:09] #260 closed

[2021-04-24 18:18] deg4uss3r commented on #237
fixed in #236

[2021-04-24 18:18] #237 closed

[2021-04-24 18:32] deg4uss3r commented on #244
closed in #263

[2021-04-24 18:32] #244 closed

[2021-04-24 18:35] deg4uss3r opened #265 "`cargo-outdated` never ends when recursive looking through large workspaces"
I have a large workspace that has many crates and depends on many more.

Running `cargo outdated` takes forever at the root of the workspace. However if only checking depth of 1, completes immediately (`cargo outdated -d 1`).

We should investigate whatever is taking so long; however, looking through an entire workspace of dependencies for outdated crates is a bit..ill advised so this is not a maj

[2021-04-28 18:31] crumblingstatue opened #266 "cargo-outdated unconditionally tries to look for master branch for git deps"
If you add a git dependency that has the main branch as `main` instead of `master`, cargo-outdated will fail:
`cannot locate remote-tracking branch 'origin/master'; class=Reference (4); code=NotFound (-3)`

[2021-04-28 19:19] orhun commented on #216
Any updates on this?

[2021-06-07 15:05] msrd0 commented on #266
I encountered a different error message when using a git dependency with an alternative default branch:

[code]

Note that using current rust nightly (1.54), the `branch` does not need to be specified anymore when using the default branch, even if that branch is not called `master`.

[2021-06-16 16:59] Volker-Weissmann opened #268 "cargo outdated gets semver wrong"
Example Cargo.toml file:

[code]

All three dependencies are out of date, but cargo outdated reports `All dependencies are up to date, yay!`. It is only if I decrease the minor or major number that I get a warning. But a dependency outdated by a patch level is still outdated.

[2021-06-20 07:18] M1cha commented on #230
@deg4uss3r can you explain what exactly you mean by "feature"? is it a feature that it panics, or that it doesn't panic?
And why would there be different behavior between using cargo as a binary vs library?

I'd really like to help fix this because I'm unable to use cargo-outdated on a workspace with many dependencies due to this bug.

[2021-06-20 14:51] deg4uss3r commented on #268
This is doing the correct thing :)

If you check your `Cargo.lock` file you'll find `rand` at version `0.8.4` since it will update to the latest `0.8.x` version using this schema. If you want to lock it at a specific version use the following:

[code]

That will produce the following outdated report:

[code]

[2021-06-20 14:51] #268 closed

[2021-06-20 14:56] deg4uss3r commented on #266
I have a branch that updates us to `cargo` `0.54.0` which resolves this. I just need to test it more

https://github.com/kbknapp/cargo-outdated/tree/degausser/bump_cargo_0.54 😃

[2021-06-20 15:04] Volker-Weissmann commented on #268
Ok, Thank you

[2021-06-23 17:57] anp commented on #127
Would it work to extend the `--ignore` flag to also imply not modifying the dependency spec for the provided crates?

AFAICT right now the flag only affects the output but it could also be used to limit modifications made to the temporary workspace.

[2021-06-23 18:01] anp commented on #230
I'm having a similar issue trying to adopt this tool for a [pretty large workspace](https://fuchsia.googlesource.com/fuchsia/+/refs/heads/main/third_party/rust_crates/Cargo.toml). First with [flate2 and zip](https://github.com/kbknapp/cargo-outdated/issues/260) and now with [nom and memchr](https://github.com/Geal/nom/issues/1330).

Would something like https://github.com/kbknapp/cargo-outdated/is

[2021-06-25 22:56] deg4uss3r commented on #127
I think this is doable! I gave it a quick test and it fixes this issue in a large repo:

[code]

[2021-06-26 12:16] #266 closed

[2021-07-01 23:02] deg4uss3r commented on #230
#271 is a fix for this :)

[2021-07-01 23:02] #230 closed

[2021-07-01 23:03] deg4uss3r commented on #127
Done in #271!

[2021-07-01 23:03] #127 closed

[2021-08-11 08:11] kaedwen opened #274 "cargo-outdated does not work with vendoring"
**Version cargo-outdated v0.9.17**

My project saved its dependecies via `cargo vendor`

Using `cargo outdated` in this workspace fails with
[code]

Removing all the vendoring stuff and the `.cargo/config.toml` helps and re-vendor afterwards but feels laborious

[2021-08-13 12:01] theduke opened #275 "Failure with Patched Workspace Path Dependencies"
I've come across a situation where `cargo outdated` fails with the error `failed to resolve patches for https://github.com/rust-lang/crates.io-index`.

This happens when:

* a dependency that is not published on crates.io is specified with a regular version
* A (workspace) `[patch]` override specifies a local path for said dependency

Eg:

`root/crate1/Cargo.toml`:
[code]

`root/Cargo.toml`:
[code

[2021-08-17 18:20] keshrisohit commented on #258
I am seeing this issue again  with cargo 1.54.0

[2021-08-18 22:31] deg4uss3r commented on #247
Thanks to updated with `cargo` the newest error I get from this is:

[code]

Do yo think this is clear enough now?

[2021-08-18 23:10] jonhoo commented on #247
That does seem a lot better than the panic from before, yes!

[2021-08-19 12:43] deg4uss3r commented on #247
Thanks I'm going to close this issue!

[2021-08-19 12:43] #247 closed

[2021-09-09 10:48] wolverian opened #278 "thread 'main' panicked at 'no entry found for key', src/cargo_ops/temp_project.rs:702:20"
Reproduce:

[code]

Versions:

[code]

[2021-09-18 12:44] carlocab opened #279 "`invalid version 0 on git_proxy_options` error with libgit2 1.2"
We're trying to update Homebrew's version of libgit2 to 1.2.0 at Homebrew/homebrew-core#84518. While testing dependent packages, CI encountered the following error which I've managed to reproduce locally:
[code]
For reference, `demo-crate` contains only a `Cargo.toml` and `lib.rs`:
[code]
Strangely enough, this only occurs on Intel macOS (reproduced on Mojave, Catalina, and Big Sur). It does not h

[2021-09-21 05:38] PatchMixolydic opened #280 "`cargo outdated` requires `cargo-features = ["edition2021"]` for Rust 2021, but it is stable starting in 1.56 (currently stable)"
I'm using rustc 1.56.0-nightly (b7404c898 2021-09-03), in which Rust 2021 is stabilized. However, cargo-outdated 0.9.17 still requires the unstable feature flag when running on a project using Rust 2021:
[code]

[2021-09-28 18:31] jonhoo opened #283 "Provide mechanism for only scanning current target's dependencies"
`cargo-outdated` currently forcibly enables all targets when it resolves the workspace's dependencies:
https://github.com/kbknapp/cargo-outdated/blob/fe97a089185162ffb84b91e6ce24eabf96784b62/src/cargo_ops/elaborate_workspace.rs#L90

This means that `cargo-outdated` will download dependencies that aren't needed for `cargo build` and friends, causing unnecessary network traffic, and potentially requ

[2021-10-01 14:37] deg4uss3r commented on #258
Sorry it has taken so long to get back, can you provide me a `Cargo.toml` that reproduces the issue? Thanks!

[2021-10-21 18:09] rminnich commented on #258
and just now
cargo install cargo-binutils
...
  Downloaded object v0.27.0
error: failed to compile `cargo-binutils v0.3.3`, intermediate artifacts can be found at `/tmp/cargo-installNPPsaC`

Caused by:
  failed to parse manifest at `/root/.cargo/registry/src/github.com-1ecc6299db9ec823/object-0.27.0/Cargo.toml`

Caused by:
  feature `resolver` is required

  consider adding `cargo-features = ["res

[2021-10-21 21:02] rminnich commented on #258
ah nvm we got a fix

[2021-11-01 14:20] sofusmortensen opened #285 "A dependency to project outside workspace pointing back to a project inside workspace cause cargo-outdated to fail"
If you have a workspace with a path dependency to a project outside the workspace, and that project has a dependency back to another project in the workspace, then cargo-outdated gets confused and reports:

[code]

Here's what you need to reproduce: https://github.com/sofusmortensen/cargo-outdated-bug-285
Go into `cargo-outdated-bug-285/projectA` and run `cargo outdated`.

It happens because cargo

[2021-11-01 14:29] sofusmortensen commented on #239
In the particular test case https://github.com/ndmitchell/cargo-outdated-bug-239 the problem is not that we have two references to `c` but that the reference `../../project/c` going out of `project` and back in is going to be invalid in the temp directory structure created, as root project directory `project` does not exist there by that name.

I can offer a fix to this problem by having cargo-out

[2021-11-02 13:27] fpoli opened #286 "Index ouf of bounds"
I found that `cargo outdated` panics when running on our project.

Project: https://github.com/viperproject/prusti-dev, commit `5705580`.

Command:
[code]
Output:
[code]

Version: `cargo-outdated v0.9.17`

[2021-11-02 13:39] fpoli opened #287 "No matching package name found in git dependency"
It seems that `cargo outdated` cannot find a crate in a git dependency. `cargo build`, however, runs fine.

Project: https://github.com/viperproject/prusti-dev, commit `ca3d4dc`.

Command:
[code]
Output:
[code]

Version: `cargo-outdated v0.9.17`

[2021-11-08 16:47] tayyabmh commented on #258
What was the fix?

[2021-11-09 00:13] Stargateur commented on #280
even add `cargo-features = ["edition2021"]` doesn't work

[2021-11-09 06:30] gdesmott commented on #280
This version should work:
`cargo install --force cargo-outdated --git https://github.com/cuviper/cargo-outdated.git --branch cargo-2021`

[2021-11-10 00:52] #280 closed

[2021-11-10 18:03] figsoda opened #291 "Crashes with "package cache lock is not currently held""
[code]

[2021-11-10 19:02] mattico commented on #291
I'm getting this error with v0.10.0 but not v0.9.18, strangely enough.

[2021-11-10 19:03] figsoda commented on #291
me too, since master is 0.10.0 right now I omitted the version

[2021-11-10 19:50] ckaran commented on #291
Same for me, just adding more datum points in case it'll help.

[code]

## Meta

[code]

[2021-11-10 21:58] cfvescovo commented on #291
I am experiencing the same issue

[2021-11-10 21:59] cfvescovo commented on #291
[code]

[2021-11-11 14:41] fredrik-jansson-se commented on #291
I as well, please let me know if I can provide any details to help figuring this out!

[2021-11-11 15:16] kpcyrd opened #292 "0.10.0 tag"
hi!

any chance you could create a release for 0.10.0 on https://github.com/kbknapp/cargo-outdated/releases? :)

[2021-11-11 15:22] yatesco commented on #291
Same

[2021-11-11 16:11] mattico commented on #291
I'm also getting the crash when running `cargo-outdated` on the `cargo-outdated` crate, which is edition `2018`, so I don't think that matters.

I ran a git-bisect to determine the cause of the issue. For those of you who (like me) haven't used bisect before, it's actually pretty easy:
[code]
The first bad commit is 2a5bf77f4a76134b37d5bc279428e8ec5530f8b1. Seems pretty benign, but I'm guessing fr

[2021-11-12 12:29] bikeshedder commented on #292
The version tag for `0.9.18` is missing as well.

[2021-11-12 12:33] bikeshedder commented on #291
For anyone looking for an easy fix. Just downgrade to version `0.9.18` which doesn't contain this bug:
[code]

[2021-11-14 08:00] messense commented on #292
+1 for this, this blocks updating Homebrew formula for cargo-outdated.

[2021-11-16 14:47] #291 closed

[2021-11-16 18:06] oconnor663 commented on #291
Installing from the git repo also fixed this for me. Here's the command from the README:

[code]

We might want to reopen this issue until the fix is shipped to crates.io? I didn't find it on my first pass after I encountered this bug.

[2021-11-16 21:38] kbknapp commented on #292
Whoops!  Will create the 0.10.1 tag once #294 merges.

[2021-11-16 21:44] #292 closed

[2021-11-16 21:48] kbknapp commented on #287
This appears to be fixed with v0.10.1. Going to close, but if you need to re-open after updating please feel free to.

[2021-11-16 21:48] #287 closed

[2021-11-16 22:52] kpcyrd commented on #292
Thanks, unfortunately the commit that was tagged as `0.10.1` has this in its `Cargo.lock` and therefore doesn't build with `--locked`:

[code]

[2021-11-17 04:21] kbknapp commented on #292
Apologies! I'll fix that and rerelease first thing tomorrow.

[2021-11-17 13:39] kbknapp commented on #292
Done :smile:

[2021-11-17 15:00] ckaran commented on #291
For what it's worth, 0.10.1 seems to have fixed the issues for me.

[2021-11-28 11:35] sofusmortensen commented on #285
Fixed, or at least mitigated, with https://github.com/kbknapp/cargo-outdated/pull/298

[2021-11-29 15:58] xabufr opened #299 "JSON format can print non-json lines"
When cargo-outdated is runned in `workspace` mode with `--format json`, it may print a non-json line if all dependencies are up-to-date:
`All dependencies are up to date, yay!`

https://github.com/kbknapp/cargo-outdated/blob/5bda9e740ec7167eebea8874066fcac8ff0f1ccb/src/main.rs#L181

[2021-12-02 16:07] azerupi commented on #230
I stumbled upon this issue where I got this error from cargo-outdated:

[code]

But building with cargo works fine. I finally found that I could exclude `cortex-m-rt` and that works.
Would it be possible to suggest using the `-x` flag in the error message in case you can build fine with cargo? It took me some time to find the fix and I suppose I am not the only one. :slightly_smiling_face:

[2021-12-16 07:40] Wandalen opened #301 "Bug : does not have these features"
Hi! Have such error.

[code]

That's wrong.

[2021-12-27 16:02] omid opened #303 "Warning on `beta` as dep and `rc` as latest"
There is a warning for the dependency below:

[code]

When I run `cargo outdated`, it gives:

[code]

Based on [semver](https://semver.org/#spec-item-11), it seems they are comparable.

[2022-01-04 15:33] ilyapopov opened #304 "Shows wrong latest version for bitflags"
Cargo-oudated shows "1.2.1" as latest version for [bitflags](https://crates.io/crates/bitflags) crate, while in fact the latest version is "1.3.2". This is probably due to version "1.3.0" [being yanked](https://crates.io/crates/bitflags/versions).

Example output:
[code]

[2022-01-19 17:15] kolbma opened #305 "cargo-oudated SIGSEGV on stable-x86_64-unknown-linux-musl"
When trying to run cargo outdated on stable-x86_64-unknown-linux-musl on Alpine Linux 3.15 there is a SIGSEGV.
Installation was without problems.

[code]

[2022-01-19 19:26] kolbma commented on #305
I close it here... see https://github.com/rust-lang/rust/issues/93084 for workaround

[2022-01-19 19:26] #305 closed

[2022-02-13 14:38] manfredlotz opened #306 "SSL peer certificate or SSH remote key was not OK"
Ubuntu with rustc, v1.58.1, cargo-outdated 0.10.2

Running `cargo outdated` I get
[code]

When creating a new user on the same system and
* installing rust, cargo, cargo-outdated for that user
* cloning the repository
* then `cargo outdated` works just fine.

So, my guess is that something in `~/.cargo` is wrong. If I knew what causes it I could perhaps cleanup things in `~/.cargo`

[2022-02-21 23:42] kerkmann opened #307 "Segmentation fault on version v0.10.2 with no reason"
Heyho, when I try to run `cargo outdated` on my project: \
https://gitlab.com/kerkmann/clappy/-/tree/dcf932e26c4157d3a0598a54f35545ca8e1a051b \
I just receive an segmentation fault. :(

The last lines of the debug log is:
[code]

Appended the entire log. :)

[debug.log](https://github.com/kbknapp/cargo-outdated/files/8112583/debug.log)

[2022-02-24 11:38] stefan0xC commented on #307
I also ran into this issue. This is probably an incompatibility in [git2-rs](https://github.com/rust-lang/git2-rs) with the libgit2 system library. In my case the segmentation fault happened because I had libgit2 1.4.1 installed. Rebuilding cargo-outdated without libgit2 or after downgrading libgit2 to 1.3 solved this issue for me.

It should also be possible to enable the vendored-libgit2 feature

[2022-02-25 06:43] kerkmann commented on #307
Can confirm what @stefan0xC wrote. :)

I downgraded libgit2 to 1.3.0 and now it's working! :)

Thanks @stefan0xC !

[2022-02-25 07:20] stefan0xC commented on #307
There has been a [new git2-rs release](https://github.com/rust-lang/git2-rs/releases/tag/0.14.0) shortly after I linked the issue that is compatible with libgit2 1.4.1 so downgrading is not necessary anymore. However, you'd need to run `cargo install cargo-outdated` without the --locked flag to use the newest version of the crate.

[2022-02-25 07:44] kerkmann commented on #307
You are right, after upgrading to 1.4.1 and installing the newest cargo-outdated version, it's now working. :)

[2022-02-25 10:09] rusty-snake opened #308 "feature `strip` is required"
https://blog.rust-lang.org/2022/02/24/Rust-1.59.0.html#creating-stripped-binaries

Adding this breaks `cargo-outdated`:

[code]

[code]

[2022-03-02 01:22] #299 closed

[2022-03-02 01:52] #285 closed

[2022-03-02 03:01] kbknapp commented on #308
Closed with #302

Feel free to reopen if it's still an issue.

[2022-03-02 03:02] kbknapp commented on #307
Can you try again with v0.11.0?

[2022-03-02 03:04] kbknapp commented on #306
What distro are you using? It could be the root certificates were not yet installed, but after installing `rust` and `cargo` they were picked up?

[2022-03-02 03:52] manfredlotz commented on #306
I am using Ubuntu.

When it didn't work rust and cargo were installed in `~/.cargo`  using `rustup` (initially installed some years ago).

I just deleted `~/.cargo` and re-installed with `rustup` in `~/.cargo`, and all is fine now. This is why I assumed that something got wrong in `~/.cargo`.

[2022-03-02 10:09] kpcyrd commented on #307
Does somebody know what's the relevant commit/change in git2 0.13 -> 0.14, git2-curl 0.14 -> 0.15.0, libgit2-sys 0.12 -> 0.13.1? Can this be backported?

[2022-03-02 10:15] kerkmann commented on #307
Can confirm, it's still broken with `cargo install cargo-outdated` and `cargo install --locked cargo-outdated`. :)

[2022-03-02 17:08] rusty-snake commented on #308
Works, thanks.

[2022-03-12 09:53] ObsceneGiraffe opened #311 "Refactor project into lib and CLI"
I've been writing a few xtasks recently and I want to statically include cargo-outdated in my xtasks.

Are there any reasons why cargo outdated should not have a `lib.rs` and API?
The benefits of statically linking cargo-outdated into an xtask binary is to avoid other team members having to install various cargo plugins.

The use case that triggered this request is:

I want to make an xtask that l

[2022-03-26 09:12] ArekPiekarz commented on #307
It's been over a month and it's still a problem on Manjaro. Is there a way to use cargo-outdated without getting a segfault?

[2022-03-26 13:22] dbrgn commented on #307
@ArekPiekarz see https://github.com/rust-lang/cargo/issues/10446

[2022-04-02 14:39] zethra opened #314 "Segmentation Fault"
When I try to run cargo outdated is seg faults. I'm running version 0.11. I rebuilt it which fixed the problem for a bit, but then it started segfaulting again. I'm not sure why.

Here the output of ldd, since that might be relevant.
[code]

[2022-04-02 14:40] zethra commented on #314
Oh sorry, this appears to be a dup of #307

[2022-04-02 14:40] #314 closed

[2022-04-02 20:57] ArekPiekarz commented on #307
@niklasf Thanks for the workaround! I must ask, why does one command affect the way another command behaves? Does it alter the environment in some way?

[2022-04-03 13:15] kpcyrd opened #315 "Breaks with zstd 0.11/0.10"
cargo outdated fails with an error due to zstd, not showing any other crates that might be outdated:
[code]

[2022-04-04 11:29] orhun commented on #307
It is because running `cargo update` updates the registry index (`~/.cargo/registry/index`) so that `cargo-outdated` can skip this step (which is the point of failure due to `libgit2`).

[2022-04-16 14:31] #307 closed

[2022-04-20 22:14] gitmalong opened #317 "Failed to resolve address for <alt-ssh-hostname>: nodename nor servname provided, or not known; class=Net (12)"
`$ cat ~/.ssh/config`
[code]

`$ ssh-add`
[code]

`cargo outdated`
[code]

[2022-04-28 14:47] Zymlex commented on #274
[code]
The problem is relevant.

[2022-05-10 17:14] phijor opened #318 "Error running in project with custom target file"
# Problem

`cargo outdated` fails to run when a project specifies a custom [target file](https://docs.rust-embedded.org/embedonomicon/custom-target.html):

[code]

I assume that the custom target file is not copied over to the temporary copy of the project,
so `cargo` cannot find it and fails to run.

# Reproduction

Here's a script to reproduce a MWE:

[code]

The first argument is the name of th

[2022-05-26 07:34] qrilka opened #320 "Error checking deps"
Running `cargo outdated` fails for our project with the following message:
[code]

https://github.com/rust-lang/git2-rs/issues/838#issuecomment-1136144078 says that this problem is about old cargo being used. But after switching to cargo-1.60 a test project using git2-14.4 builds fine but `cargo outdated`  fails with the message above

[2022-05-31 00:48] pacak opened #321 "cargo-outdated repeatedly pulls the same git repo over and over again"
I have a workspace that contains git dependencies multiple times.  cargo-outdated pulls each dependency every time it encounters one:

[code]

[2022-05-31 00:51] pacak commented on #315
Same problem with other dependencies. I think safe approach here would be to complain about the dependency it can't satisfy and stick to using the current one and report remaining issues as usual.

[2022-05-31 06:00] qrilka commented on #315
#320 is probably a duplicate

[2022-06-30 19:51] ilyapopov opened #323 "cargo-outdated fails to compile after updating rust toolchain"
After updating rust toolchain today to 1.62.0, when running

    cargo install --force cargo-outdated

I get this:

[code]

    cargo 1.62.0 (a748cf5a3 2022-06-08)
    rustc 1.62.0 (a8314ef7d 2022-06-27)

[2022-06-30 21:06] steffahn commented on #323
See https://github.com/rust-lang/cargo/issues/10803

[2022-07-01 11:09] ilyapopov commented on #323
Confirm, works now.

[2022-07-01 11:09] #323 closed

[2022-07-26 17:48] Muscraft opened #325 "Support workspace inheritnace"
[Workspace inheritance](https://github.com/rust-lang/cargo/issues/8415) was [stabilized](https://github.com/rust-lang/cargo/pull/10859) recently and set to be released in `1.64` on [September 22, 2022](https://forge.rust-lang.org/#current-release-versions). Currently `cargo-outdated` does not support the use of workspace inheritance and throws an error. It would be nice if this could be fixed befo

[2022-07-31 18:50] nashley commented on #194
[It looks like this was fixed upstream](https://github.com/rust-lang/cargo/issues/1423#issuecomment-609552351).
Is this still an issue?

[2022-08-24 03:08] azzamsa opened #326 "[Feature Request]: Write to Cargo.toml"
Hi

Is cargo-outdated will support writing tor Cargo.toml? such as
- `taze --write` in https://github.com/antfu/taze
- `ncu -u` in https://github.com/raineorshine/npm-check-updates

So we don't have to update the version by hand. I have read the usage doc, but couldn't find this feature.

Thanks a lot for cargo-outdated.

[2022-08-30 12:57] kpp opened #327 "Crate zeroize breaks your project"
Due to use of `zeroize` in cryptographic projects with a forced specific version, it's hard to use cargo-outdated:

[code]

[2022-09-05 08:07] sdroege opened #328 "Doesn't respect submodule update=none strategy in .gitmodules"
See https://github.com/rust-lang/cargo/pull/10717 for the corresponding fix in cargo.

When running `cargo outdated` on such a repository, it will still download all the git submodules while `cargo update` for example won't.

[code]

[code]

[2022-09-19 22:03] mplanchard commented on #274
Similar problem for (extracted) vendored deps pulled in with [`cargo download`](https://github.com/Xion/cargo-download).

[code]

Output with `RUST_LOG=debug`: https://pastebin.com/

[2022-09-26 22:55] robjtede commented on #325
the day has come, cargo-outdated now instantly fails on pacjages with workspace inherited properties

[2022-09-29 14:06] domenicquirl commented on #325
This is indeed a bummer. I just ran into the same issue in `cargo-udeps` (https://github.com/est31/cargo-udeps/issues/140) and now here. Would it be possible to update the `cargo` dependency and resolve this?

[2022-09-29 14:12] Nemo157 commented on #326
`cargo upgrade` from https://github.com/killercup/cargo-edit supports this already (and is currently in the process of being prepared for uplifting into `cargo` itself).

[2022-09-29 16:10] Muscraft commented on #325
I don't think just updating `cargo` will help. It will make it so it won't error when encountering workspace inheritance but it won't actually check for updates in `[workspace.dependencies]`.

[2022-09-30 06:10] azzamsa commented on #326
That news to me, thanks!

[2022-09-30 06:10] #326 closed

[2022-10-17 14:56] fpoli opened #331 ""member of the wrong workspace" error"
In our project [viperproject/prusti-dev](https://github.com/viperproject/prusti-dev/tree/42c6ac199946f532d9a34752d22dba4faaa157fc) `cargo outdated` fails with the following error.
[code]
This error message looks related to https://github.com/rust-lang/cargo/issues/5042, but in our case `cargo build` works fine.

[2022-10-18 14:50] alexreg opened #332 "Suport for arm64 (Mac M1 processor)"
It looks like it tries to build for x86_64 despite the architecture being arm64.

[code]

[2022-10-22 18:08] melMass commented on #332
It looks like a misconfigured rust. It compiles fine here

[2022-10-22 22:12] alexreg commented on #332
@melMass Thanks, you're quite right. I had a messed-up installation.

[2022-10-22 22:12] #332 closed

[2022-11-01 06:05] RuijieYu opened #333 "Typo in command"
Version 0.11.1

[code]

Notice the triple 's' in the flag.

[2022-11-07 20:45] sunfishcode commented on #333
This is fixed in https://github.com/kbknapp/cargo-outdated/pull/313.

[2022-11-20 21:20] oconnor663 opened #334 "`cargo outdated -R` gets confused by path dependencies"
In one of my projects, I have a subdirectory that refers to its parent directory with `path = ".."` when building locally. The [relevant line of `Cargo.toml`](https://github.com/BLAKE3-team/BLAKE3/blob/e067e7f49839617e29e640c0778ef2b84a21b243/b3sum/Cargo.toml#L18) looks like this:

[code]

This seems to confuse `cargo outdated -R`:

[code]

If I remove the `path` field from `Cargo.toml`, this erro

[2022-11-25 14:28] jiggie914 opened #335 "Cargo-outdated gets flagged Infected File - MacOS_Hacktool_Twenbc"
The tool is the Virus Scan by Mosyle MDM called ClamAV.

Infected File - MacOS_Hacktool_Twenbc
Path: /Users/susername/.cargo/bin/cargo-outdated
File Hash: bfc010e140aa1366543f9e2dde9bf5ffd1600abd
Action: Quarantine
Infected Date: 05:56 AM - 11/24/2022

Infected File - MacOS_Hacktool_Twenbc
Path: /Users/username/.cargo/bin/cargo-geiger
File Hash: aa3555806569bbb888f9fdc439f11a977700aa76
Action: Qua